!.gitignore
.idea
build
cli/removeLocalCacheLocalosc.sh
cli/removeLocalCache_debian.sh
cli/syncLocal.sh
cli/tv_sync.sh
cli/sync_debian.sh
local/config/vufind/config.ini
local/config/vufind/libadmin-groups.ini
local/config/vufind/favorite-institutions.ini
local/languages/location/*
local/httpd-vufind.conf
local/cache/*
local/log/*
public/.htaccess

# while testing:
local/config/vufind/TargetsProxy.ini

# GNU Emacs temporary files

ChangeLog
\#*
.\#*
TAGS
*~
vendor/.git
