@charset "UTF-8";
/* --- Projekt swissbib --------------------------------------------------- */
/* --- CSS Framework: theme Zuerich definitions ---------------------------------------------- */
/*---- vers. 01 GH: 20100617 -------*/



/* Logo jusbib */
#logo a {
    height:55px;
    padding-bottom: 13px;
    background-image:url("../images/logo_jusbib.png");
}

.template_home #logo a {
    height:120px;
    padding-bottom: 28px;
    background-image:url("../images/logo_jusbib-home.png");
}

/* Header-Background Overrides */
#header {
    background: rgb(58,113,138) !important
    /*background-image:url(img/bg_header.gif); */
}
.template_home #header { background: rgb(58,113,138) !important }
.template_home #header { background: rgb(58,113,138) !important }

#search input.simple_search_large {
    width:370px;
}

#pagefunctions #pagefunction_link a {
    background-image: url("../images/icon_pagefunctions_perma.gif");
}

/** adv. search: classification tree */
.classification-tree.jstree-default li.selected > a,
.classification-tree.jstree-default li a:hover {
    background: #0279AA;
    border-color: #0279AA;
}

#tabbed-tree .ui-widget-content {
    background: #fff;
}

/** Slider blue */
.ui-widget-header {
    border: 1px solid #3A718A;
    background: #3A718A url(../images/bg_button_primary.gif) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

#publishDateSlider a.ui-state-hover {
    border: 1px solid #CCEFFA;
    background: #CCEFFA url(../images/bg_navigation.gif) 50% 50% repeat-x;
    font-weight: bold;
    color: #c77405;
}

/*
Bibliotheksinfo-Link mit Fragezeichen
*/
.bibinfo {
    background-image: url(../images/icon_link-external.gif);
}

/*
Tabbed
*/
#tabbed {
    display: block;
}

/*
Remove Favorite-Tag
*/
#sidebar .subnavigation .filters li a.filter_remove {
    background-image: url('../images/icon_remove.gif');
}