/* --- NOSE AG Design Intelligence --------------------------------------------------- */
/* --- CSS Framework: IE9 modifications ---------------------------------------------- */
/* --- swissbib  --------------------------------------------------------------------- */

@media screen, projection {

/* -------------------------------------------------------------------------------------
 global.css
 ======================================================================================*/
 
/* forms */
input.submit, input.reset {
	padding:4px 5px 4px 5px; 
}
input.checkbox {
	margin:4px 5px 0 0;
}
input.radio {
	margin:4px 5px 0 0;
}

}
