/* --- NOSE AG Design Intelligence --------------------------------------------------- */
/* --- CSS Framework: Opera modifications -------------------------------------------- */
/* --- swissbib  --------------------------------------------------------------------- */

@media screen, projection {


/* -------------------------------------------------------------------------------------
 global.css
 ======================================================================================*/

/* forms */
body.opera input.submit, body.opera input.reset {
	padding:5px 4px 3px 4px; 
}



	
}
