<!-- begin: col1 (sidebar)  -->
<div id="col1" class="sidebar">
	<div id="col1_content" class="clearfix">
		<!-- begin: sidebar -->
		<div id="sidebar">
			<!-- begin: subnavigation -->
			<h3>Suche</h3>
			<div class="subnavigation">
				<ul>
					<li class="selected">
						<a href="erweitertesuche.html" title="Erweiterte Suche">Erweiterte Suche</a>
					</li>
					<li>
						<a href="sucheinstellungen.html" title="Sucheinstellungen">Sucheinstellungen</a>
					</li>
					<li>
						<a href="suchhistorie.html" title="Suchhistorie">Suchhistorie</a>
					</li>
					<li>
						<a href="#" title="swissbib Labs">swissbib Labs</a>
						<ul>
							<li>
								<a href="#" title="Graphen Visualisierung">Graphen Visualisierung</a>
							</li>
							<li>
								<a href="#" title="Trends">Trends</a>
							</li>
						</ul>
					</li>
				</ul>
			</div><!-- end: subnavigation -->
		</div>
		<!-- end: sidebar -->
	</div>
</div>
<!-- end: col1 (sidebar) -->
<!-- begin: col3 (content) -->
<div id="col3" class="content">
	<div id="col3_content" class="clearfix">
		<!-- begin: content -->
		<div id="content">
			<h1>Erweiterte Suche</h1>
			<form  action="suchergebnis.html" method="get" class="data" id="form_advancedsearch" name="form_advancedsearch">
				<!-- begin: basics -->
				<fieldset>
					<h3>Sucheingabe</h3>
					<!-- row -->
					<div class="fieldbox">
						<label for="advancedsearch_searchcategory_01" class="hidden">Suchkategorie</label>
						<select name="advancedsearch_searchcategory_01" id="advancedsearch_searchcategory_01" class="select">
							<option selected="selected" value="-1">Freie Suche</option>
							<option value="331">Titel</option>
							<option value="100">Autor</option>
							<option value="540">ISBN</option>
							<option value="8100">Jahr</option>
						</select>
						<label for="advancedsearch_searchstring_01" class="hidden">Suchbegriff</label>
						<input name="advancedsearch_searchstring_01" id="advancedsearch_searchstring_01" type="text" class="text large" />
						<label for="advancedsearch_boostfactor_01" class="hidden">Gewichtung</label>
						<input name="advancedsearch_boostfactor_01" id="advancedsearch_boostfactor_01" type="text" class="text small slider"  title="Gewichtung" rel="min:0;max:100;step:10"/>
					</div>
					<!-- row -->
					<div class="fieldbox">
						<label for="advancedsearch_combinationoperator_02" class="hidden">Operator</label>
						<select id="advancedsearch_combinationoperator_02" name="advancedsearch_combinationoperator_01" class="select tiny">
							<option selected="selected" value="AND"> und </option>
							<option value="OR"> oder </option>
							<option value="NOT"> und nicht </option>
						</select>
						<label for="advancedsearch_searchcategory_02" class="hidden">Suchkategorie</label>
						<select name="advancedsearch_searchcategory_02" id="advancedsearch_searchcategory_02" class="select tinycomplement">
							<option value="-1">Freie Suche</option>
							<option selected="selected" value="331">Titel</option>
							<option value="100">Autor</option>
							<option value="540">ISBN</option>
							<option value="8100">Jahr</option>
						</select>
						<label for="advancedsearch_searchstring_02" class="hidden">Suchbegriff</label>
						<input name="advancedsearch_searchstring_02" id="advancedsearch_searchstring_02" type="text" class="text large" />
						<label for="advancedsearch_boostfactor_02" class="hidden">Gewichtung</label>
						<input name="advancedsearch_boostfactor_02" id="advancedsearch_boostfactor_02" type="text" class="text small slider" value="0" title="Gewichtung" rel="min:0;max:100;step:10"/>
					</div>
					<!-- row -->
					<div class="fieldbox">
						<label for="advancedsearch_combinationoperator_03" class="hidden">Operator</label>
						<select id="advancedsearch_combinationoperator_03" name="advancedsearch_combinationoperator_01" class="select tiny">
							<option selected="selected" value="AND"> und </option>
							<option value="OR"> oder </option>
							<option value="NOT"> und nicht </option>
						</select>
						<label for="advancedsearch_searchcategory_03" class="hidden">Suchkategorie</label>
						<select name="advancedsearch_searchcategory_03" id="advancedsearch_searchcategory_03" class="select tinycomplement">
							<option value="-1">Freie Suche</option>
							<option value="331">Titel</option>
							<option selected="selected" value="100">Autor</option>
							<option value="540">ISBN</option>
							<option value="8100">Jahr</option>
						</select>
						<label for="advancedsearch_searchstring_03" class="hidden">Suchbegriff</label>
						<input name="advancedsearch_searchstring_03" id="advancedsearch_searchstring_03" type="text" class="text large" />
						<label for="advancedsearch_boostfactor_03" class="hidden">Gewichtung</label>
						<input name="advancedsearch_boostfactor_03" id="advancedsearch_boostfactor_03" type="text" class="text small slider" value="0" title="Gewichtung" rel="min:0;max:100;step:10"/>
					</div>

				</fieldset>
				<!-- end: basics -->

				<!-- begin: refine -->
				<fieldset>
					<h3 class="toggler persist collapsed" id="searchoption_toggler_refine">Suche eingrenzen</h3>
					<div class="searchoption_toggler_refine">
						<!-- row -->
						<div class="fieldbox">
							<label for="advancedsearch_searchterm" class="label">Suchbegriff</label>
							<div class="vertical">
								<input id="advancedsearch_searchterm_exact" name="advancedsearch_searchterm" type="radio" class="radio" checked="checked"/>
								<label for="advancedsearch_searchterm_exact" class="radiolabel">genaue Suche</label>
								<br/>
								<input id="advancedsearch_searchterm_related" name="advancedsearch_searchterm" type="radio" class="radio"/>
								<label for="advancedsearch_searchterm_related" class="radiolabel">Auch ähnliche Begriffe finden</label>
							</div>
						</div>
						<!-- row -->
						<div class="fieldbox">

							<label for="advancedsearch_format" class="label">Format</label>
							<select name="advancedsearch_format" id="advancedsearch_format" class="select multiple" multiple="multiple">
								<option value="all" selected="selected">alle</option>
								<option value="book">Bücher</option>
								<option value="magazines">Zeitschriften</option>
								<option value="video">Video</option>
								<option value="dvd">DVD</option>
							</select>

							<label for="advancedsearch_language" class="label small">Sprache</label>
							<select name="advancedsearch_language" id="advancedsearch_language" class="select multiple" multiple="multiple">
								<option value="all" selected="selected">alle</option>
								<option value="de">Deutsch</option>
								<option value="en">Englisch</option>
								<option value="fr">Französisch</option>
								<option value="rm">Rumänisch</option>
							</select>
						</div>
					</div>

				</fieldset><!-- end:  refine -->

				<!-- begin: other -->
				<fieldset>
					<h3 class="toggler persist collapsed" id="searchoption_toggler_other">Weitere</h3>

					<div class="searchoption_toggler_other">

						<!-- begin: status -->
						<div class="status information">
							<h4>Status Information</h4>
							<p>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
							</p>
						</div><!-- end: status -->

						<!-- begin: status -->
						<div class="status error">
							<h4>Status Fehler</h4>
							<p>
								Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
							</p>
						</div><!-- end: status -->

						<!-- begin: status -->
						<div class="status success">
							<h4>Status Erfolg</h4>
							<p>
								At vero eos et accusam et justo duo dolores et ea rebum.
							</p>
						</div><!-- end: status -->

						<!-- begin: fieldgroup -->
						<div class="fieldgroup">
							<!-- col -->
							<div class="c50l">

								<!-- row -->
								<div class="fieldbox">
									<label for="advancedsearch_text_small" class="label">Text Klein</label>
									<input id="advancedsearch_text_small" name="advancedsearch_text_small" type="text" class="text small" />
								</div>

								<!-- row -->
								<div class="fieldbox">
									<label for="advancedsearch_text_regular" class="label">Text Normal</label>
									<input id="advancedsearch_text_regular" name="advancedsearch_text_regular" type="text" class="text" />
								</div>

							</div>

							<!-- col -->
							<div class="c50l">

								<!-- row -->
								<div class="fieldbox">
									<label for="advancedsearch_select_tiny" class="label">Select Ganzklein</label>
									<select id="advancedsearch_select_tiny" name="advancedsearch_select_tiny" class="select tiny">
										<option value="value_a">A</option>
										<option value="value_b">B</option>
										<option value="value_c">C</option>
									</select>
								</div>

								<!-- row -->
								<div class="fieldbox">
									<label for="advancedsearch_select_small" class="label">Select Klein</label>
									<select id="advancedsearch_select_small" name="advancedsearch_select_small" class="select small">
										<option value="value_a">Option A</option>
										<option value="value_b">Option B</option>
										<option value="value_c">Option C</option>
									</select>
								</div>

								<!-- row -->
								<div class="fieldbox">
									<label for="advancedsearch_select_regular" class="label">Select Normal</label>
									<select id="advancedsearch_select_regular" name="advancedsearch_select_regular" class="select">
										<option value="value_a">Option A</option>
										<option value="value_b">Option B</option>
										<option value="value_c">Option C</option>
									</select>
								</div>

							</div>

						</div><!-- end: fieldgroup -->

						<!-- row -->
						<div class="fieldbox">
							<label for="advancedsearch_text_large" class="label">Text Gross</label>
							<input id="advancedsearch_text_large" name="advancedsearch_text_large" type="text" class="text large" />
						</div>

						<!-- row -->
						<div class="fieldbox">
							<label for="advancedsearch_textarea" class="label">Textfeld Normal</label>
							<textarea id="advancedsearch_textarea" name="advancedsearch_textarea" class="textarea"></textarea>												<span class="info">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</span>
						</div>

						<!-- row -->
						<div class="fieldbox">
							<label for="advancedsearch_textarea_large" class="label">Textfeld Gross</label>
							<textarea id="advancedsearch_textarea_large" name="advancedsearch_textarea_large" class="textarea large"></textarea>												<span class="info ifield">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</span>
						</div>

						<!-- row -->
						<div class="fieldbox">
							<label for="advancedsearch_checkbox_horizontal" class="label">Checkbox Horizontal</label>
							<input id="advancedsearch_checkbox_horizontal_01" name="advancedsearch_checkbox_horizontal" type="checkbox" class="checkbox" checked="checked" />
							<label for="advancedsearch_checkbox_horizontal_01" class="checkboxlabel">Checkbox 01</label>
							<input id="advancedsearch_checkbox_horizontal_02" name="advancedsearch_checkbox_horizontal" type="checkbox" class="checkbox" />
							<label for="advancedsearch_checkbox_horizontal_02" class="checkboxlabel">Checkbox 02</label>
							<input id="advancedsearch_checkbox_horizontal_03" name="advancedsearch_checkbox_horizontal" type="checkbox" class="checkbox" />
							<label for="advancedsearch_checkbox_horizontal_03" class="checkboxlabel">Checkbox 03</label>
						</div>

						<!-- row -->
						<div class="fieldbox">
							<label for="advancedsearch_checkbox_vertical" class="label">Checkbox Vertikal</label>
							<div class="vertical">
								<input id="advancedsearch_checkbox_vertical_01" name="advancedsearch_checkbox_vertical" type="checkbox" class="checkbox" checked="checked" />
								<label for="advancedsearch_checkbox_vertical_01" class="checkboxlabel">Checkbox 01</label>
								<br/>
								<input id="advancedsearch_checkbox_vertical_02" name="advancedsearch_checkbox_vertical" type="checkbox" class="checkbox" />
								<label for="advancedsearch_checkbox_vertical_02" class="checkboxlabel">Checkbox 02</label>
								<br/>
								<input id="advancedsearch_checkbox_vertical_03" name="advancedsearch_checkbox_vertical" type="checkbox" class="checkbox" />
								<label for="advancedsearch_checkbox_vertical_03" class="checkboxlabel">Checkbox 03</label>
							</div>
						</div>

						<!-- row -->
						<div class="fieldbox">
							<label for="advancedsearch_radio_horizontal" class="label">Radio Horizontal</label>
							<input id="advancedsearch_radio_horizontal_01" name="advancedsearch_radio_horizontal" type="radio" class="radio" checked="checked" />
							<label for="advancedsearch_radio_horizontal_01" class="radiolabel">Radio 01</label>
							<input id="advancedsearch_radio_horizontal_02" name="advancedsearch_radio_horizontal" type="radio" class="radio" />
							<label for="advancedsearch_radio_horizontal_02" class="radiolabel">Radio 02</label>
							<input id="advancedsearch_radio_horizontal_03" name="advancedsearch_radio_horizontal" type="radio" class="radio" />
							<label for="advancedsearch_radio_horizontal_03" class="radiolabel">Radio 03</label>
						</div>

						<!-- row -->
						<div class="fieldbox">
							<label for="advancedsearch_radio_vertical" class="label">Radio Vertikal</label>
							<div class="vertical">
								<input id="advancedsearch_radio_vertical_01" name="advancedsearch_radio_vertical" type="radio" class="radio" checked="checked" />
								<label for="advancedsearch_radio_vertical_01" class="radiolabel">Radio 01</label>
								<br/>
								<input id="advancedsearch_radio_vertical_02" name="advancedsearch_radio_vertical" type="radio" class="radio" />
								<label for="advancedsearch_radio_vertical_02" class="radiolabel">Radio 02</label>
								<br/>
								<input id="advancedsearch_radio_vertical_03" name="advancedsearch_radio_vertical" type="radio" class="radio" />
								<label for="advancedsearch_radio_vertical_03" class="radiolabel">Radio 03</label>
							</div>
						</div>

					</div>
				</fieldset><!-- end:  other -->

				<!-- begin: actions -->
				<fieldset class="actions">
					<label for="advancedsearch_submit" class="hidden">Suchanfrage senden</label>
					<input id="advancedsearch_submit" name="advancedsearch_submit" type="submit" class="submit primary" value="Suchen"/>
					<label for="advancedsearch_reset" class="hidden">Formular zurücksetzen</label>
					<input id="advancedsearch_reset" name="advancedsearch_reset" type="reset" class="reset" value="Zurücksetzen"/>
				</fieldset>
				<!-- end: actions -->

			</form>

			<!-- begin: pagefunctions -->
			<div id="pagefunctions">
				<h3 class="hidden">Seitenfunktionen</h3>
				<ul>
					<li id="pagefunction_print">
						<a href="#" title="Seite drucken">Seite drucken</a>
					</li>
					<li id="pagefunction_send">
						<a href="#" title="Link per Email senden">Link per Email senden</a>
					</li>
				</ul>
			</div>
			<!-- end: pagefunctions -->
		</div>
		<!-- end: content -->
	</div>
	<div id="ie_clearing">
		&nbsp;
	</div>
</div>
<!-- end: col3 (content) -->