@media print {


/* -------------------------------------------------------------------------------------
 basemod.css
 ======================================================================================*/

#access, #service, #meta, #navigation, #logo h1,
#search,
.facets,
.tools,
#notepad,
.data colgroup, .data caption, .data .col-1, .data .col-2, .data .col-3,
.data th.col-6, .data td.col-5,
#pagefunctions {
	display: none;
}

#header {
	background: none;
}

.data {
	text-align: left;
}

.data th {
	border-bottom: 1px solid #000;
}

.data td {
	vertical-align: top;
	padding-bottom: 20pt;
}

.data ul {
	padding-left: 20px;
}

.data td span{
	margin-bottom: 5px;
}

.data .col-6 {
	width: 40% !important;
}

a,a:link,a:visited {
	text-decoration: none;
	color:#000;
}

body {
	font-size: 12pt;
}

h6 {
	font-size: 10pt;
	margin: 0;
	display: inline;
}

h3 {
	font-size: 13pt;
	margin: 0 0 5pt 0;
}

.data td span{
	margin-bottom: 5px;
}

#tabbed li {
	display: none;
}

#tabbed li.selected {
	display: block;
}




/* -------------------------------------------------------------------------------------
 fonts.css
 ======================================================================================*/


/* -------------------------------------------------------------------------------------
 content.css
 ======================================================================================*/



/* -------------------------------------------------------------------------------------
 blueprint.css
 ======================================================================================*/

a:link:after, a:visited:after {
	content:none;
}

}