@charset "UTF-8";
/* --- NOSE AG Design Intelligence --------------------------------------------------- */
/* --- CSS Framework: theme definitions ---------------------------------------------- */
/* --- swissbib  --------------------------------------------------------------------- */

@media all {
/* Dark Blue Backgrounds (Link Hover, etc.) */
#sidebar .subnavigation ul li.selected a,
#sidebar .subnavigation ul li a:hover, #sidebar .subnavigation ul li.selected ul li a:hover,
#sidebar .subnavigation ul li.action a:hover,  #sidebar .subnavigation ul li.selected ul li.action a:hover,
.filters ul li a:hover, .facet ul li a:hover, .facet_more a:hover, a.color:hover { background-color:#0279aa; }
a.color { color:#0279aa; }

/* Light Blue Backgrounds */
#meta ul li a, .ui-autocomplete li a:hover, .dropdown ul li a:hover { background-color:#cceefa; }

/* Header-Background Overrides */
#header {
	border-bottom:1px solid #838280;
	background-image:url(img/bg_header.gif);
}
.template_home #header { background-image:url(img/bg_header-home.gif); }
#logo, #logo a { background-color:transparent; }
input.primary { background-color:#02bdf2; }

/* --- BASEMOD.CSS Overrides --------------------------------------------------------- */	
.template_home #header { background-image:url(img/bg_header-home.gif); }
#search { background-image:url(img/bg_search.gif); }
#col1 { background-image:url(img/bg_sidebar.gif); }
#col1_content { background-image:url(img/bg_sidebar_end.gif); }
#col3 { background-image:url(img/bg_content.gif); }
#col3_content { background-image:url(img/bg_content_end.gif); }
#logo a { background-image:url(img/logo_swissbib.gif); }
#navigation { background-image:url(img/bg_navigation.gif); }
#content { background-image:url(img/bg_content_inlay.gif); }
.template_home #logo a { background-image:url(img/logo_swissbib-home.gif); }
.template_home #main { background-image:url(img/bg_main.gif); }
.template_page #main { background-image:url(img/bg_main.gif); }

/* --- CONTENT.CSS Overrides --------------------------------------------------------- */	
#navigation ul li { background-image:url(img/divider_navigation.gif); }
#navigation ul li.nav_home a { background-image:url(img/icon_nav_home.gif); }
#navigation ul li.nav_home a:hover { background-image:url(img/icon_nav_home-hover.gif); }
#navigation ul li.nav_help a { background-image:url(img/icon_nav_help.gif); }
#navigation ul li.nav_help a:hover { background-image:url(img/icon_nav_help-hover.gif); }
#navigation .subnavigation { background-image:url(img/bg_subnavigation.png); }

#service ul li { background-image:url(img/divider_navigation.gif); }
#service ul li.nav_account a { background-image:url(img/icon_nav_account.gif); }
#service ul li.nav_account a:hover { background-image:url(img/icon_nav_account-hover.gif); }
#service ul li.nav_logout a { background-image:url(img/icon_nav_logout.gif); }
#service ul li.nav_logout a:hover { background-image:url(img/icon_nav_logout-hover.gif); }
#service ul li.nav_login a { background-image:url(img/icon_nav_login.gif); }
#service ul li.nav_login a:hover { background-image:url(img/icon_nav_login-hover.gif); }

#search .dropdown h3 { background-image:url(img/icon_dropdown_primary.gif); }
#sidebar .subnavigation { background-image:url(img/divider_line.gif); }

.template_page #sidebar .subnavigation ul { background-image:url(img/divider_line.gif); }
.filters { background-image:url(img/divider_line.gif); }
.filters ul li a.filter_remove { background-image:url(img/icon_remove.gif); }
.facets { background-image:url(img/divider_line.gif); }
.facet h5.expanded { background-image:url(img/icon_facet-expanded.gif); }
.facet h5.collapsed { background-image:url(img/icon_facet-collapsed.gif); }

#breadcrumb ul li { background-image:url(img/divider_breadcrumb.gif); }
#breadcrumb ul li a.notepad { background-image:url(img/icon_breadcrumb_notepad.gif); }

#pagefunctions ul li a { background-image:url(img/bg_button-light.gif); }
#pagefunctions #pagefunction_rss a { background-image:url(img/icon_pagefunctions_rss.gif); }
#pagefunctions #pagefunction_print a { background-image:url(img/icon_pagefunctions_print.gif); }
#pagefunctions #pagefunction_send a { background-image:url(img/icon_pagefunctions_send.gif); }
#pagefunctions #pagefunction_save a { background-image:url(img/icon_pagefunctions_save.gif); }

.tabs ul.ui-tabs-nav { background-image:url(img/bg_tabs.gif); }
.tabs ul.ui-tabs-nav li { background-image:url(img/divider_tab.gif); }
.tabs ul.ui-tabs-nav li.ui-tabs-selected { background-image:url(img/divider_tab-active.gif); }

#notepad { background-image:url(img/bg_clipboard.gif); }
#notepad h3 { background-image:url(img/icon_notepad.gif); }
#notepad .linkbutton { background-image:url(img/bg_button-light.gif); }

.paging .paging_first { background-image:url(img/icon_paging_first.gif); }
.paging .paging_back { background-image:url(img/icon_paging_back.gif); }
.paging .paging_forward { background-image:url(img/icon_paging_forward.gif); }
.paging .paging_last { background-image:url(img/icon_paging_last.gif); }
.paging .paging_pages { background-image:url(img/icon_paging_pages-left.gif); }
.paging .paging_pages ul { background-image:url(img/icon_paging_pages-right.gif); }

.tools .linkbutton { background-image:url(img/bg_button-light.gif); }

div#nyroModalFull div#nyroModalLoading { background: #fff url(img/loader.gif) no-repeat; }
div#nyroModalFull div#nyroModalWrapper a#closeBut { background: url(img/icon_close.gif) no-repeat; }
div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent a.nyroModalPrev:hover { background: url(img/icon_prev.gif) left 20% no-repeat; }
div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent a.nyroModalNext:hover { background: url(img/icon_next.gif) right 20% no-repeat; }

/* --- GLOBAL.CSS Overrides ---------------------------------------------------------- */
a.externallink { background-image:url(img/icon_link-external.gif); }

ul.list li { background-image:url(img/bg_list.gif); }
ul.listing li { background-image:url(img/bg_listing.gif); }

img.dropshadow { background-image:url(img/bg_dropshadow.gif); }

input.submit, input.reset { background-image:url(img/bg_button.gif); }
input.primary {background-image:url(img/bg_button_primary.gif);}

.button { background-image:url(img/bg_button.gif); }
.linkbutton { background-image:url(img/bg_button.gif); }
.linkbutton.primary { background-image:url(img/bg_button_primary.gif); }

.dropdown h3 { background-image:url(img/icon_dropdown.gif); }

.ui-slider { background-image:url(img/bg_slider.gif); }
.ui-slider .ui-slider-handle { background-image:url(img/icon_slider_handle.png); }

.info { background-image:url(img/icon_info.gif);}
#info_overlay #info_arrow { background-image:url(img/bg_info-arrow.gif); }

.expanded { background-image:url(img/icon_toggler-expanded.gif); }
.collapsed { background-image:url(img/icon_toggler-collapsed.gif); }

.icon_goto span { background-image:url(img/icon_goto.gif); }
.icon_goto_primary span { background-image:url(img/icon_goto_primary.gif); }
.icon_backto span { background-image:url(img/icon_backto.gif); }
.icon_add span { background-image:url(img/icon_add.gif); }
.icon_show span { background-image:url(img/icon_show.gif); }
.icon_favorit span { background-image:url(img/icon_favorit.gif); }
.icon_favorit_remove span { background-image:url(img/icon_favorit_remove.gif); }
.icon_favorit_library { background-image:url(img/icon_favorit_library.gif); }
.icon_delete span { background-image:url(img/icon_delete.gif); }
.icon_link_primary span { background-image:url(img/icon_link_primary.gif); }
.icon_notepad_add { background-image:url(img/icon_notepad_add.gif); }
.icon_notepad_remove { background-image:url(img/icon_notepad_remove.gif); }
.icon_notepad_add_link { background-image:url(img/icon_notepad_add.gif); }
.icon_notepad { background-image:url(img/icon_notepad.gif); }
ul.miniactions li.miniaction_link a { background-image:url(img/icon_miniaction_link.gif); }
ul.miniactions li.miniaction_favorite_add a { background-image:url(img/icon_miniaction_favorite_add.gif); }
ul.miniactions li.miniaction_favorite_remove a { background-image:url(img/icon_miniaction_favorite_remove.gif);}

.icon_lending_online { background-image:url(img/icon_lending_online.gif); }
.icon_lending_onplace { background-image:url(img/icon_lending_onplace.gif); }
.icon_lending_notavailable { background-image:url(img/icon_lending_notavailable.gif); }

.icon_format_book { background-image:url(img/icon_format_book.gif); }
.icon_format_book_e { background-image:url(img/icon_format_book_e.gif); }
.icon_format_article { background-image:url(img/icon_format_article.gif); }
.icon_format_article_e { background-image:url(img/icon_format_article_e.gif); }
.icon_format_archive { background-image:url(img/icon_format_archive.gif); }
.icon_format_archive_e { background-image:url(img/icon_format_archive_e.gif); }
.icon_format_film { background-image:url(img/icon_format_film.gif); }
.icon_format_film_e { background-image:url(img/icon_format_film_e.gif); }
.icon_format_magazine { background-image:url(img/icon_format_magazine.gif); }
.icon_format_magazine_e { background-image:url(img/icon_format_magazine_e.gif); }
.icon_format_map { background-image:url(img/icon_format_map.gif); }
.icon_format_map_e { background-image:url(img/icon_format_map_e.gif); }
.icon_format_microfilm { background-image:url(img/icon_format_microfilm.gif); }
.icon_format_music { background-image:url(img/icon_format_music.gif); }
.icon_format_music_e { background-image:url(img/icon_format_music_e.gif); }
.icon_format_newspaper { background-image:url(img/icon_format_newspaper.gif); }
.icon_format_newspaper_e { background-image:url(img/icon_format_newspaper_e.gif); }
.icon_format_object { background-image:url(img/icon_format_object.gif); }
.icon_format_online-resource { background-image:url(img/icon_format_online-resource.gif); }
.icon_format_photograph { background-image:url(img/icon_format_photograph.gif); }
.icon_format_photograph_e { background-image:url(img/icon_format_photograph_e.gif); }
.icon_format_recording { background-image:url(img/icon_format_recording.gif); }
.icon_format_recording_e { background-image:url(img/icon_format_recording_e.gif); }
.icon_format_score { background-image:url(img/icon_format_score.gif); }
.icon_format_score_e { background-image:url(img/icon_format_score_e.gif); }
.icon_format_software { background-image:url(img/icon_format_software.gif); }

.rating_1 { background-image:url(img/icon_rating_01.gif); }
.rating_2 { background-image:url(img/icon_rating_02.gif); }
.rating_3 { background-image:url(img/icon_rating_03.gif); }
.rating_4 { background-image:url(img/icon_rating_04.gif); }
.rating_5 { background-image:url(img/icon_rating_05.gif); }

#infoWindow #infoWindowInner {
    background-image:url(img/bg_rollover.gif) !important;
}


}
