/**
 * Created by Project swissbib, www.swissbib.org.
 * Author: Günter Hipler
 * Date: 15.11.2009
 * Time: 14:11:54
 */

/* TESTHALBER EINGESETZT: Langes Suchfeld  - deaktiviert für Produktions-Load, TVi 20100903  */
#search input.text {
    border: 1px solid #494E59;
    font-weight: bold;
    padding: 5px 4px 3px;
    width: 370px;
}

button.submit:focus, input.reset:focus {
    border: 1px solid #494E59;
}

button.primary {
    background-color: #32CD0F;
    background-image: url(../../images/bg_button_primary.gif);
    color: #FFFFFF;
    font-weight: bold;
}

button.submit, input.reset {
    background-color: #E8E8E8;
    background-image: url(../../images/bg_button.gif);
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #494E59;
    display: block;
    float: left;
    font-weight: normal;
    margin: 0 10px 0 0;
    padding: 3px 4px;
}

button {
    color: #494E59;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 15px;
}

/*class is used to indicate loading procedure e.g. fetching online availability*/
.xSwissBib_loading {
    background: url('../../images/indicator.gif') right center no-repeat;
}

.ajax_spinner {
    width: 26px;
    height: 26px;
    background-image: url('../../images/ajax_spinner.png');
    background-position: 0 0;
}

/* class is used to indicate error situations e.g. wrong input for a personal action like printing or send mail*/
input.outputerror, select.outputerror, textarea.outputerror {
    background-color: #FFBBBB;
    border-color: #CC0000;
}

/*class to display icon remove from memorize list
was delivered by Nose
*/
.icon_notepad_remove_link {
    display: block;
    font-size: 0;
    line-height: 0;
    padding: 0 0 0 40px;
    background-image: url(../../images/icon_notepad_remove.gif);
    background-position: 0 -2px;
    background-repeat: no-repeat;
}

/*
  GH: new format for Marc Display in Full View of item
  20100106
*/

.toggler_rendered_marcview div p {

    margin-left: 6em;
    text-indent: -6em;
    font-family: monospace;
    font-size: 1.5em;

}

/*
  Styles for swissbib availability-elements -- changed TVi20130729
*/
.availability_ok {
    background: url(../../images/avail_ok_16.16.png) no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    line-height: 0.8em;
    text-indent: 20px;
}

.availability_notok {
    background: url(../../images/avail_stop_16.16.png) no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    line-height: 0.8em;
    text-indent: 20px;
}

.availability_moreInfo {
    background: url(../../images/avail_moreInformation_16.16.png) no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    line-height: 0.8em;
    text-indent: 20px;
}

/*
  TVi: added definition for external linking services (AddThis.com)
  20100919
*/

#pagefunctions #pagefunction_ext a {
    font-size: 0;
    line-height: 0;
    text-indent: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: #ECECEC;
    background-image: none;
    background-position: left top;
    background-repeat: no-repeat;
}

/* additional definitions for bibtip functionality */

#bibtippowered {

    padding-top: 25px;
    /*
    width:100px;
    height:30px;
	background-image:url(../../images/bibtiplogo.png);
	background-repeat:no-repeat;
    */
}

#bibtip_header {
    font-size: 1.3em;
}

#bibtip_title {
    padding: 0 5px 0;
}

#bibtip_reclist ul, #bibtip_reclist_long ul {

    margin-bottom: 10px;
    padding: 5px 0 0 0;
    margin: 0 0 -5px 0;
}

#bibtip_reclist ul li, #bibtip_reclist_long ul li {
    font-size: 1.3em;
    line-height: 1.1538em;
    padding: 0 0 5px 15px;
    background-image: url(../../images/bg_list.gif);
    background-position: 0 11px;
    background-repeat: no-repeat;
}

#more_button a {
    display: block;
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #D1D0D0;
    padding: 2px 6px 1px 6px;
    margin: 8px 0 0;
    font-size: 1.3em;
    line-height: 1.1538em;
    font-weight: normal;
    text-decoration: none;
    background-color: #E8E8E8;
    background-image: url(../../images/bg_button.gif);
    background-position: left top;
    background-repeat: repeat-x;
}

#Special-BH-Toggler {
    padding-top: 20px;
    /* element shouldn't be visible but has to be activated*/
    color: #FFFFFF;
}

/*
 enhancement of format description to cover e-plus icons - taken from global.css
 TVI20100622
*/

.icon_format_book_e-plus, .icon_format_magazine_e-plus {
    padding-left: 65px;
    height: 20px;
    background-position: left top;
    background-repeat: no-repeat;
}

.icon_format_book_e-plus {
    background-image: url(../../images/icon_format_book_e-plus.gif);
}

.icon_format_magazine_e-plus {
    background-image: url(../../images/icon_format_magazine_e-plus.gif);
}

/*
enhancement of list-class to be used in library-info
TVI: 20100713
*/

ul.infolist {
    margin-bottom: 0;
    display: none;
}

#infoWindow ul.infolist {
    display: block;
}

ul.infolist li {
    font-size: 1em;
    line-height: 1.1538em;
    padding: 0 0 0 15px;
    background-image: url(../../images/bg_list.gif);
    background-position: 0 7px;
    background-repeat: no-repeat;
}

.info:hover ul.infolist li {
}

ul.infolist ul {
    padding: 5px 0 0 0;
    margin: 0 0 -5px 0;
}

ul.infolist ul li {
    font-size: 1em;
}

/*
display of favourite library icon
TVI: 20100805
*/
.favourite-library {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    line-height: 0;
    margin: 10px 0 0 2px;
    overflow: visible;
    position: relative;
}

/*
Linkbutton with smaller text used for example for UEG button in sbHitDetailTabsLibraryTab.jsp
TVI: 20100811
*/
.linkbutton .small {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.1538em;
    text-decoration: none;
}

/*
status-Angaben im NOSE-Design abgeleitet von den Formular-Formatierungen in global.css
 TVI: 20100924
 */
.status_info {
    padding: 8px 20px 3px 20px;
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    margin: 0 0 25px 0;
    zoom: 1;
}

.status_error {
    background-color: #BE1405;
    border-bottom: 0;
    border-top: 0;
    padding: 10px 10px 5px 10px;
    margin: 0 20px 25px 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.status_success {
    background-color: #66B509;
    border-bottom: 0;
    border-top: 0;
    padding: 10px 10px 5px 10px;
    margin: 0 20px 25px 20px;
    color: #FFFFFF;
}

.status_error a, .status_error h4 {
    color: #FFFFFF;
    font-weight: bold;
}

.status_success a, .status_success h4 {
    color: #FFFFFF;
}

div.scroll {
    height: 50px;
    width: 50px;
    overflow: auto;
    border: 1px solid #666;
    background-color: #ccc;
    padding: 8px;
}

/*
external map-links TVI: 20101112
*/
a.map_link {
    text-decoration: none;
    padding-left: 30px;
    height: 20px;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../../images/icon_format_map_e.gif);
    background-position: left -1px;
    line-height: 15px;
    padding-bottom: 5px;
}

/*
Kleinerer Button für Kombination von styles "linkbutton" und "submit"  TVI: 20110106
*/

.linkbutton.submit {
    display: block;
    float: left;
    background-color: #FFFFFF;
    border: 1px solid #D1D0D0;
    padding: 2px 6px 1px 6px;
    margin: 0 10px 0 0;
    /*font-size:1.3em;*/
    font-size: 1em;
    line-height: 1.1538em;
    font-weight: normal;
    text-decoration: none;
    background-color: #E8E8E8;
    background-image: url(../../images/bg_button.gif);
    background-position: left top;
    background-repeat: repeat-x;
}

.linkbutton.submit.primary {
    border: none;
    padding: 3px 6px 2px 6px;
    color: #FFFFFF;
    font-weight: bold;
    background-image: url(../../images/bg_button_primary.gif);
}

table .linkbutton.submit {
    font-size: 1em;
}

/*
Randloses Bild für die Hilfeseite TVI: 20110118, Vergrösserungs-Icon - benötigt GIF oder PNG mit 20 px transparentem Rand unten TVi20110207
*/

img.small.nb {
    border: none;
    float: left;
    margin: 0 13px 13px 0;
}

div.example {
    background-color: #F5F5F5;
    border-bottom: 2px solid #FFFFFF;
    font-size: 1.3em;
    line-height: 1.1538em;
    padding: 5px 9px 3px 10px;
    text-align: left;
    vertical-align: top;
}

img.magnify {
    background-image: url(../../images/icon_magnify.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

/*
Sicherung der Kurzliste vor überbreiten Bildern - TVI: 20110202
*/
img.shortlist {
    max-width: 100px;
}

/*
Layout-Elemente für "Alle-Hinzufügen-Button" - TVI: 20110301
*/
.icon_notepad_addadd span {
    background-image: url("../../images/icon_notepad_add_multi.gif");
    background-position: 0 2px;
    background-repeat: no-repeat;
    padding-left: 14px;
    /*	background-position: 0 -2px;
        background-repeat: no-repeat;
        display: block;
        font-size: 0;
        height: 30px;
        line-height: 0;
        text-indent: -1000px;
        width: 30px;
    */
}

.icon_notepad_removeAll_memitems span {
    background-image: url("../../images/icon_notepad_add_multi.gif");
    background-position: 0 -2px;
    background-repeat: no-repeat;
    display: block;
    font-size: 0;
    height: 30px;
    line-height: 0;
    text-indent: -1000px;
    width: 30px;
}

select.large {
    width: 340px;
}