/* --- NOSE AG Design Intelligence --------------------------------------------------- */
/* --- CSS Framework: content element definitions ------------------------------------ */
/* --- swissbib  --------------------------------------------------------------------- */

@media all {



/* -------------------------------------------------------------------------------------
 MAIN NAVIGATION
 ======================================================================================*/

#navigation ul {
	height:25px;
}
#navigation ul li {
	display:block;
	position:relative;
	float:left;
	background-image:url(../../images/divider_navigation.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
#navigation ul li a {
	display:block;
	font-size:1.2em;
	line-height:1.6667em;
	padding:3px 10px 2px 10px;
	color:#515151;
	font-weight:bold;
	text-decoration:none;
}
#navigation ul li.nav_home a, #navigation ul li.nav_help a {
	padding-left:25px;
	background-position:6px 5px;
	background-repeat:no-repeat;
}
#navigation ul li.nav_home a {
	background-image:url(../../images/icon_nav_home.gif);
}
#navigation ul li.nav_home a:hover {
	background-image:url(../../images/icon_nav_home-hover.gif);
}
#navigation ul li.nav_help a {
	background-image:url(../../images/icon_nav_help.gif);
}
#navigation ul li.nav_help a:hover {
	background-image:url(../../images/icon_nav_help-hover.gif);
}
#navigation ul li a:hover, #navigation ul li.open a {
	color:#000000;
}

/* subnavigation */
#navigation .subnavigation {
	position:absolute;
	z-index:10;
	top:25px;
	left:-5px;
	display:block;
	width:150px;
	height:auto;
	padding:0 5px 5px 5px;
	background-color:#none;
	background-image:url(../../images/bg_subnavigation.png);
	background-position:left bottom;
	background-repeat:repeat-y;
	display:none;
}
#navigation .subnavigation li {
	float:none;
	margin:0;
	background-image:none;
	border-top:1px solid #363940;
}
#navigation ul li.open .subnavigation li a {
	color:#515151;
	line-height:1.25em;
	padding:5px 10px 5px;
}
#navigation ul li.open .subnavigation li a:hover {
	color:#000000;
}



/* -------------------------------------------------------------------------------------
 SERVICE NAVIGATION
 ======================================================================================*/

#service ul {
	height:25px;
}
#service ul li {
	display:block;
	float:left;
	height:25px;
	background-image:url(../../images/divider_navigation.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#service ul li a {
	display:block;
	font-size:1.2em;
	line-height:1.6667em;
	padding:3px 10px 2px 10px;
	color:#515151;
	font-weight:bold;
	text-decoration:none;
}
#service ul li a:hover {
	color:#000000;
}
#service ul li a span {
	font-weight:normal;
}
#service ul li.nav_account a, #service ul li.nav_logout a, #service ul li.nav_login a {
	padding-left:25px;
	background-position:6px 5px;
	background-repeat:no-repeat;
}
#service ul li.nav_account a {
	background-image:url(../../images/icon_nav_account.gif);
}
#service ul li.nav_account a:hover {
	background-image:url(../../images/icon_nav_account-hover.gif);
}
#service ul li.nav_logout a {
	background-image:url(../../images/icon_nav_logout.gif);
}
#service ul li.nav_logout a:hover {
	background-image:url(../../images/icon_nav_logout-hover.gif);
}
#service ul li.nav_login a {
	background-image:url(../../images/icon_nav_login.gif);
}
#service ul li.nav_login a:hover {
	background-image:url(../../images/icon_nav_login-hover.gif);
}


/* -------------------------------------------------------------------------------------
 META NAVIGATION
 ======================================================================================*/

#meta ul {
	height:25px;
}
#meta ul li {
	display:block;
	float:left;
	font-size:1.1em;
	line-height:1em;
	margin:0 0 0 1px;
}
#meta ul li a {
	display:block;
	padding:3px 4px 2px 4px;
	color:#515151;
	font-weight:bold;
	text-decoration:none;
	background-color:#D4F2CE;
	text-transform:uppercase;
}
#meta ul li.selected a, #meta ul li a:hover {
	color:#000000;
}





/* -------------------------------------------------------------------------------------
 SEARCH
 ======================================================================================*/

/* fonts */
#search h3 {
	display:block;
	float:left;
	color:#FFFFFF;
	margin-bottom:0;
}
#search h3 label {
	font-size:1em;
	line-height:1em;
	padding:5px 10px 5px 0;
	color:#FFFFFF;
}


/* submit */
#search input.text {
	width:200px;
	padding:5px 4px 3px 4px;
	border:1px solid #494E59;
	font-weight:bold;
}
#search select.select {
	/* remove */
	width:210px;
	height:25px;
	padding:4px 4px 4px 1px;
	border:1px solid #494E59;
	font-weight:bold;
}

/* checker */
#search label.checker {
	display:block;
	float:left;
	font-size:13px;
	line-height:15px;
	color:#FFFFFF;
	margin:0 10px 0 0;
	padding:5px 10px 5px 18px;
}

/* extended */
#search a#search_extended {
	display:block;
	float:left;
	font-size:13px;
	line-height:15px;
	color:#FFFFFF;
	margin:0 10px 0 0;
	padding:5px 10px 5px 15px;
	text-decoration:none;
	background-image:url(../../images/icon_search_extended.gif);
	background-position:left 7px;
	background-repeat:no-repeat;
}


/* dropdown */
#search .dropdown {
	width:200px;
	height:23px;
	background-color:#EBEBEB;
	border:1px solid #494E59;
}
#search .dropdown h3 {
	float:none;
	display:block;
	background-image:url(../../images/icon_dropdown_primary.gif);
}
#search .dropdown h3 a {
	font-weight:bold;
	padding:5px 25px 3px 5px;
}
#search .dropdown ul {
	top:24px;
	width:200px;
	border-left:1px solid #494E59;
	border-right:1px solid #494E59;
}
#search .dropdown ul li a {
	padding:3px 5px 3px 5px;
	border-bottom:1px solid #494E59;
}


/* -------------------------------------------------------------------------------------
 AUTOCOMPLETE
 ======================================================================================*/
.ui-autocomplete {
	background-color:#FFFFFF;
	overflow: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	z-index:100;
	width: 400px;
	max-height: 500px;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ui-autocomplete li {
  	display: inline;
}

.ui-autocomplete li a {
	border-bottom:1px solid #494E59;
	border-left:1px solid #494E59;
	border-right:1px solid #494E59;
	color: #494E59;
	cursor:pointer;
	display: block;
	font-size: 13px;
	line-height: 20px;
	margin:0px;
	overflow: hidden;
	padding:2px 5px;
	text-align:left;
	text-decoration: none;
}
.ui-autocomplete li a.ui-state-hover {
	background-color:#D4F2CE;
}
.ui-autocomplete li a.ui-state-focus {
	margin: -1px 0;
}


/* -------------------------------------------------------------------------------------
 SUBNAVIGATION
 ======================================================================================*/

#sidebar .subnavigation {
	border-left:1px solid #363434;
	border-right:1px solid #363434;
	border-top:1px solid #363434;
	background-color:#414652;
	background-image:url(../../images/divider_line.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
	margin:0 0 15px 0;
	padding:4px 0 5px 0;
}
#sidebar .subnavigation ul {
	padding:0;
	margin:5px 10px;
}
#sidebar .subnavigation ul ul {
	margin:0;
	padding:0 0 5px 10px;
}
#sidebar .subnavigation ul li a {
	display:block;
	font-size:1.1em;
	line-height:1.3636em;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px 5px 4px 5px;
	margin:0 0 1px 0;
	text-decoration:none;
}
#sidebar .subnavigation ul li.selected a {
	background-color:#1E9E00;
}
#sidebar .subnavigation ul li.selected ul li a {
	background-color:transparent;
}
#sidebar .subnavigation ul li a:hover, #sidebar .subnavigation ul li.selected ul li a:hover {
	background-color:#1E9E00;
	text-decoration:none;
	-webkit-transition: all 60ms ease-out;  
	-moz-transition: all 60ms ease-out;  
	-o-transition: all 60ms ease-out;  
	transition: all 60ms ease-out;
}
#sidebar .subnavigation ul li.action a,  #sidebar .subnavigation ul li.selected ul li.action a {
	background-color:#2D313A;
	color:#FFFFFF;
	font-size:1.1em;
	line-height:1.36368em;
	padding:5px 10px;
	border:none;
}
#sidebar .subnavigation ul li.action a:hover,  #sidebar .subnavigation ul li.selected ul li.action a:hover {
	background-color:#1E9E00;
	text-decoration:none;
	-webkit-transition: all 60ms ease-out;  
	-moz-transition: all 60ms ease-out;  
	-o-transition: all 60ms ease-out;  
	transition: all 60ms ease-out;
}

/* template_page */
.template_page #sidebar .subnavigation ul  {
	margin:5px 10px;
	background-image:url(../../images/divider_line.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
}
.template_page #sidebar .subnavigation ul ul  {
	background-image:none;
	margin:0;
}
.template_page #sidebar .subnavigation ul li a {
	border-top:1px solid #363434;
	padding-top:4px;
}
.template_page #sidebar .subnavigation ul li ul li a {
	border-top:none;
	padding-top:5px;
}





/* -------------------------------------------------------------------------------------
 FILTERS
 ======================================================================================*/

/* container */
.filters {
	border-left:1px solid #363434;
	border-right:1px solid #363434;
	background-color:#414652;
	background-image:url(../../images/divider_line.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
	margin:0 0 15px 0;
	padding:0 0 10px 0;
}

/* fonts */
.filters h4 {
	display:block;
	padding:4px 5px 4px 20px;
	border-top:1px solid #363434;
	border-bottom:1px solid #363434;
	margin-bottom:0;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#525865;
	cursor:pointer;
	background-position:2px 4px;
	background-repeat:no-repeat;
}
.filters h4.filters_indicator {
	margin:0 -10px 0 -3px;
	padding:0 15px 0 0;
	border:none;
	color:#2F333C;
	background-color:#ECECEC;
	background-image:url('../../images/filters_indicator.gif');
	background-position:right top;
	background-repeat:no-repeat;
	cursor:default;
}
.filters h4.filters_indicator span {
	display:block;
	height:15px;
	padding:4px 15px 4px 20px;
	border-top:1px solid #363434;
	border-bottom:1px solid #363434;
	border-left:1px solid #363434;
}
.filters h5 {
	font-size:1.3em;
	line-height:1.1538em;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 5px 0 20px;
	margin:0;
}
.filters p {
	padding:10px 5px 5px 20px;
	margin-bottom:0;
}
.filters ul {
	padding:0 3px 5px 18px;
}
.filters ul li a.filter_remove {
	display:block;
	font-size:11px;
	line-height:13px;
	color:#FFFFFF;
	text-decoration:none;
	padding:1px 20px 1px 2px;
	margin-right:5px;
	background-image:url('../../images/icon_remove.gif');
	background-position:right 1px;
	background-repeat:no-repeat;
}
.filters ul li a:hover {
	background-color:#1E9E00;
	text-decoration:none;
	-webkit-transition: all 60ms ease-out;  
	-moz-transition: all 60ms ease-out;  
	-o-transition: all 60ms ease-out;  
	transition: all 60ms ease-out;
}




/* -------------------------------------------------------------------------------------
 FACETS
 ======================================================================================*/


/* container */
.facets {
	border-left:1px solid #363434;
	border-right:1px solid #363434;
	background-color:#414652;
	background-image:url(../../images/divider_line.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
}

/* facete font */
.facet h5.toggler {
	display:block;
	padding:4px 5px 5px 20px;
	border-top:1px solid #363434;
	margin-bottom:0;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#525865;
	cursor:pointer;
	background-position:2px 4px;
	background-repeat:no-repeat;
}
.facet h5.expanded {
	background-image:url(../../images/icon_facet-expanded.gif);
}
.facet h5.collapsed {
	background-image:url(../../images/icon_facet-collapsed.gif);
}
.facet ul {
	padding:5px 3px 5px 18px;
}
.facet ul li a {
	display:inline-block;
	font-size:11px;
	line-height:13px;
	color:#FFFFFF;
	padding:1px 2px 1px 2px;
	text-decoration:none;
}
.facet ul li a:hover {
	background-color:#1E9E00;
	text-decoration:none;
	-webkit-transition: all 60ms ease-out;  
	-moz-transition: all 60ms ease-out;  
	-o-transition: all 60ms ease-out;  
	transition: all 60ms ease-out;
}

/* show more */
.facet_more {
	padding:5px 0 0 0;
}
.facet_more a {
	display:inline-block;
	font-size:1.1em;
	line-height:1.1818em;
	color:#FFFFFF;
	background-color:#2D313A;
	background-image:none;
	margin-left:2px;
	padding:4px 5px 3px 5px;
}
.facet_more a:hover {
	background-color:#1E9E00;
	text-decoration:none;
	-webkit-transition: all 60ms ease-out;  
	-moz-transition: all 60ms ease-out;  
	-o-transition: all 60ms ease-out;  
	transition: all 60ms ease-out;
}
h3.facet_more {
	font-size:1em;
	line-height:1em;
	font-family:Arial, Helvetica, sans-serif;
}
h3.facet_more a {
	display:block;
	margin:5px 0;
	padding-left:20px;
	text-decoration:none;
}


/* -------------------------------------------------------------------------------------
 BREADCRUMB
 ======================================================================================*/
#breadcrumb {
	height:20px;
	margin:0;
	padding:15px 0 5px 0;
}
#breadcrumb ul li {
	display:block;
	float:left;
	padding:0 20px 0 0;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	color:#2F333C;
	font-size:1.5em;
	line-height:1.3333em;
	background-image:url(../../images/divider_breadcrumb.gif);
	background-position:top right;
	background-repeat:no-repeat;
}
#breadcrumb ul li.selected {
	background-image:none;
	padding-right:0;
}
#breadcrumb ul li a, #breadcrumb ul li span {
	display:block;
	text-decoration:none;
	color:#2F333C;
}
#breadcrumb ul li a:hover {
	text-decoration:none;
	color:#000000;
}
#breadcrumb ul li.selected a {
	color:#2F333C;
	cursor:default;
}
#breadcrumb ul li a.notepad {
	padding-left:20px;
	background-image:url(../../images/icon_breadcrumb_notepad.gif);
	background-position:0 2px;
	background-repeat:no-repeat;
}
 
 

/* -------------------------------------------------------------------------------------
 PAGEFUNCTIONS
 ======================================================================================*/

/* container */
#pagefunctions {
	position:absolute;
	right:5px;
	top:13px;
}
#pagefunctions.offset {
	top:55px;
}
#pagefunctions ul li {
	display:block;
	float:left;
}
#pagefunctions ul li a {
	display:block;
	border:1px solid #D1D0D0;
	background-color:#E8E8E8;
	font-size:1.1em;
	line-height:1em;
	font-weight:normal;
	padding:3px 5px 1px 5px;
	text-decoration:none;
	background-image:url(../../images/bg_button-light.gif);
	background-position:left top;
	background-repeat:repeat-x;
}
#pagefunctions ul li a:hover {
	text-decoration:none;
	color:#000000;
}

/* icons */
#pagefunctions li#pagefunction_rss {
	margin-left:15px;
}
#pagefunctions #pagefunction_rss a {
	font-size:0;
	line-height:0;
	text-indent:-10000px;
	display:block;
	width:20px;
	height:20px;
	border:none;
	background-color:#ECECEC;
	background-image:url(../../images/icon_pagefunctions_rss.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#pagefunctions #pagefunction_print a {
	font-size:0;
	line-height:0;
	text-indent:-10000px;
	display:block;
	width:20px;
	height:20px;
	border:none;
	background-color:#ECECEC;
	background-image:url(../../images/icon_pagefunctions_print.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#pagefunctions #pagefunction_send a {
	font-size:0;
	line-height:0;
	text-indent:-10000px;
	display:block;
	width:20px;
	height:20px;
	border:none;
	background-color:#ECECEC;
	background-image:url(../../images/icon_pagefunctions_send.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#pagefunctions #pagefunction_save a {
	font-size:0;
	line-height:0;
	text-indent:-10000px;
	display:block;
	width:20px;
	height:20px;
	border:none;
	background-color:#ECECEC;
	background-image:url(../../images/icon_pagefunctions_save.gif);
	background-position:left top;
	background-repeat:no-repeat;
}

#pagefunctions #permalink-link a,
#pagefunctions #pagefunction_link a {
	font-size:0;
	line-height:0;
	text-indent:-10000px;
	display:block;
	width:20px;
	height:20px;
	border:none;
	background-color:#ECECEC;
	background-image:url(../../images/icon_pagefunctions_perma.gif);
	background-position:left top;
	background-repeat:no-repeat;
}





/* -------------------------------------------------------------------------------------
 BOXES
 ======================================================================================*/
 .box {
 	position:relative;
 	overflow:hidden;
 	padding:20px 20px 10px 20px;
	margin:0 0 10px 0;
	background-color:#FFFFFF;
	zoom:1; 
 }
 .innerbox {
 	position:relative;
 	padding:10px 10px 1px 10px;
	margin:0 0 9px 0;
	background-color:#FFFFFF;
	zoom:1;
 }
 .grey {
	background-color:#E5E5E5;
	zoom:1;
 }
 

/* margins */
.bmright {
	margin-right:5px;
}
.bmleft {
	margin-left:5px;
}


/* fonts */
.box h2 {
	padding-top:0;
}

/* actions */
.boxed {
 	position:absolute;
	top:10px;
	right:10px;
	width:300px;
}


 
 
 
/* -------------------------------------------------------------------------------------
 TABS
 ======================================================================================*/
.tabs {
	margin:0;
	padding:0 0 10px 0;
	zoom:1;
}
 .tab {
 	padding:20px 20px 10px 20px;
	margin:0;
	background-color:#FFFFFF !important;
	zoom:1;
 }
.tabs ul.ui-tabs-nav {
	height:30px;
	padding:0 0 0 5px;
	background-color:#FFFFFF;
	background-image:url(../../images/bg_tabs.gif);
	background-position:0 0;
	background-repeat:repeat-x;
}
.tabs ul.ui-tabs-nav li {
	display:block;
	float:left;
	padding:0;
	background-image:url(../../images/divider_tab.gif);
	background-position:top right;
	background-repeat:no-repeat;
}
.tabs ul.ui-tabs-nav li a {
	display:block;
	font-size:1.3em;
	line-height:1.5385em;
	font-weight:bold;
	text-decoration:none;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	padding:5px 25px 5px 15px;
	color:#414652;
}
.tabs ul.ui-tabs-nav li a:hover  {
	color:#000000;
	text-decoration:none;
}
.tabs ul.ui-tabs-nav li.ui-tabs-active {
	background-color:#FFFFFF;
	background-image:url(../../images/divider_tab-active.gif);
	margin-left:-5px;
	padding-left:5px;
}
.tabs ul.ui-tabs-nav li.ui-tabs-active a, .tabs ul.ui-tabs-nav li a:focus  {
	color:#000000;
	text-decoration:none;
}
.tabs .ui-tabs-hide {
	display:none;	
}


/* -------------------------------------------------------------------------------------
 INLAY
 ======================================================================================*/

/* container */
#inlay {
	width:760px;
	height:20px;
	margin:0 -10px 0 -15px;
	padding:15px 15px 10px 15px;
	background-image:url(../../images/bg_inlay.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
#inlay #tabbed {
	float:left;
	height:30px;
	width:460px;
	margin:0 0 0 -15px;
}
#inlay #notepad {
	height:25px;
}



/* -------------------------------------------------------------------------------------
 TABBED
 ======================================================================================*/

/* container */
#tabbed {
	display:none;
}

/* tabbed containers */
.tabbed {
	display:none;
}
.tabbed_hidden {
	display:none;
}
.tabbed_selected {
	display:block;
}


/* list */
#tabbed ul {
	margin:0 0 0 5px;
}
#tabbed ul li {
	display:block;
	float:left;
	height:30px;
}
#tabbed ul li a {
	display:block;
	font-family:Georgia,"Times New Roman",Times,serif;
	height:30px;
	padding:0 0 0 10px;
	font-size:13px;
	line-height:20px;
	font-weight:bold;
	color:#2F333C;
	background-image:url('../../images/tabbed_left.gif');
	background-position:0px 0px;
	background-repeat:no-repeat;
	text-decoration:none;
}
#tabbed ul li a span {
	display:block;
	height:20px;
	padding:5px 15px 4px 0;
	background-image:url('../../images/tabbed_right.gif');
	background-position:right 0px;
	background-repeat:no-repeat;
	cursor:pointer;
}
#tabbed ul li a em {
	color:#666666;
	font-weight:normal;
	font-style:normal;
}


/* hover */
#tabbed ul li a:hover {
	color:#000000;
	background-position:0px -40px;
	-webkit-transition: color 120ms ease-out 50ms;  
	-moz-transition: color 120ms ease-out 50ms;  
	-o-transition: color 120ms ease-out 50ms;  
	transition: color 120ms ease-out 50ms;
}
#tabbed ul li a:hover span {
	background-position:right -40px;
}

/* selected */
#tabbed ul li.selected a,
#tabbed ul li.selected a:hover {
	color:#2F333C;
	background-position:0px -80px;
	-webkit-transition: color 120ms ease-out;  
	-moz-transition: color 120ms ease-out;  
	-o-transition: color 120ms ease-out;  
	transition: color 120ms ease-out;
}
#tabbed ul li.selected a span,
#tabbed ul li.selected a:hover span {
	padding-bottom:5px;
	background-position:right -80px;
}



/* -------------------------------------------------------------------------------------
 NOTEPAD
 ======================================================================================*/

/* container */
#notepad {
}

/* dropown */
#notepad .dropdown {
	width:200px;
	margin:0;
	background-color:transparent;
}
#notepad .dropdown ul {
	width:200px;
}
#notepad .dropdown h3 a {
	padding-left:24px;
	background-image:url('../../images/icon_notepad.gif');
	background-position:6px 4px;
	background-repeat:no-repeat;
}



/* buttons */
#notepad form {
	float:left;
	background-color:#F0F0F0;
}
#notepad .linkbutton {
	float:left;
	margin:0 0 0 5px;
	border:1px solid #494E59;
}

/* -------------------------------------------------------------------------------------
 HINT
 ======================================================================================*/

/* hint */
.hint_color,
#notepad form.hint_color {
	color:#494E59;
	background-color:#D4F2CE;
}


/* -------------------------------------------------------------------------------------
 PAGING
 ======================================================================================*/

/* container */
.paging {
	height:20px;
	float:right;
}
.paging .paging_first {
	display:block;
	float:left;
	width:30px;
	height:20px;
	font-size:0;
	line-height:0;
	text-indent:-10000px;
	background-image:url(../../images/icon_paging_first.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
.paging .paging_back {
	display:block;
	float:left;
	width:30px;
	height:20px;
	font-size:0;
	line-height:0;
	text-indent:-10000px;
	background-image:url(../../images/icon_paging_back.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
.paging .paging_forward {
	display:block;
	float:left;
	width:30px;
	height:20px;
	font-size:0;
	line-height:0;
	text-indent:-10000px;
	background-image:url(../../images/icon_paging_forward.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
.paging .paging_last {
	display:block;
	float:left;
	width:30px;
	height:20px;
	font-size:0;
	line-height:0;
	text-indent:-10000px;
	background-image:url(../../images/icon_paging_last.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
.paging .paging_pages {
	height:20px;
	float:left;
	padding:0 0 0 5px;
	background-image:url(../../images/icon_paging_pages-left.gif);
	background-position:left top;
	background-repeat:no-repeat;
}
.paging .paging_pages ul {
	display:block;
	float:left;
	height:20px;
	padding:0 5px 0 0;
	background-image:url(../../images/icon_paging_pages-right.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.paging .paging_pages ul li {
	display:block;
	float:left;
}
.paging .paging_pages ul li a, .paging .paging_pages ul li span {
	display:block;
	padding:0 3px 0 2px;
	font-size:1.3em;
	line-height:1.5385em;
	text-decoration:none;
}
.paging .paging_pages ul li a:hover {
	color:#000000;
}
.paging .paging_pages ul li span {
	color:#000000;
	font-weight:bold;
}


/* -------------------------------------------------------------------------------------
 TOOLS
 ======================================================================================*/
.tools {
	margin-bottom:10px;
}
.tools .linkbutton {
	background-image:url(../../images/bg_button-light.gif);
}


/* -------------------------------------------------------------------------------------
 TEASER
 ======================================================================================*/
.teaser {
	overflow:hidden;
}
.teaser .box {
	position:relative;
	height:135px;
}
.teaser ul.actions {
	position:absolute;
	left:0;
	bottom:20px;
	width:335px;
	padding:0 20px;
}



/* -------------------------------------------------------------------------------------
 SPONSORS	
 ======================================================================================*/
#sponsors ul {
	display:block;
	height:35px;
}
#sponsors ul li {
	display:block;
	float:right;
	margin:0 0 0 10px;
}
#sponsors ul li a {
}





/* -------------------------------------------------------------------------------------
 MODAL
 ======================================================================================*/

/* background */
.nyroModalBg {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background:#4F545F;
	opacity: 0.7;
	z-index: 100;
}
.nmReposition {
	position: absolute;
}
.nyroModalCloseButton {
	top: 4px;
	right: 4px;
	width: 15px;
	height: 15px;
	text-indent: -9999em;
	background: url('../../images/icon_close.gif');
	z-index: 101;
}


/* content */
.nyroModalTitle {
	top: -26px;
	left: 0;
	margin: 0;
    font-size: 1.1em;
	color: #ddd;
}
.nyroModalCont {
	position: absolute;
	background: #FFFFFF;
	z-index: 100;
}
.nyroModalCont iframe {
	width: 600px;
	height: 400px;
}
.nyroModalError {
	border: 4px solid red;
	color: red;
	width: 250px;
	height: 250px;
}
.nyroModalError div {
	min-width: 0;
	min-height: 0;
	padding: 10px;
}
.nyroModalLink, .nyroModalDom, .nyroModalForm, .nyroModalFormFile {
	position: relative;
	min-height: 100px;
	min-width: 100px;
	max-width: 1000px;
}
.nyroModalImage, .nyroModalSwf, .nyroModalIframe, .nyroModalIframeForm {
	position: relative;
	overflow: hidden;
}
.nyroModalImage img {
    vertical-align: top;
}
.nyroModalHidden {
	left: -9999em;
	top: -9999em;
}
.nyroModalLoad {
	position: absolute;
	width: 100px;
	height: 100px;
	background: #fff url('../../images/loader.gif') no-repeat center;
	padding: 0;
}
.nyroModalPrev, .nyroModalNext {
	outline: none;
	position: absolute;
	top: 0;
	height: 60%;
	width: 150px;
	min-height: 50px;
	max-height: 300px;
	cursor: pointer;
	text-indent: -9999em;
	background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
}
.nyroModalImage .nyroModalPrev, .nyroModalImage .nyroModalNext {
	height: 100%;
	width: 40%;
	max-height: none;
}
.nyroModalPrev {
	left: 0;
}
.nyroModalPrev:hover {
	background-image: url('../../images/icon_prev.gif');
}
.nyroModalNext {
	right: 0;
	background-position: right 20%;
}
.nyroModalNext:hover {
	background-position: right 20%;
	background-image: url('../../images/icon_next.gif');
}


/* -------------------------------------------------------------------------------------
 INFO WINDOW
 ======================================================================================*/


/* container */
#infoWindow,
#infoWindow a {

}
#infoWindow a:hover {
    
}
#infoWindow {
    background: #f5f5f5;
    border: 1px solid #354659;
    padding: 3px;
    position: absolute;
    font-size: 13px;
    line-height: 16px;
    z-index: 98;
    text-indent: 0;
    top: -5px;
    opacity: 0;
    min-width: 300px;
	text-align:left;
}
#infoWindow.left {
    margin-right: -5px;
    right: 0;
    left: auto;
}
#infoWindow.up  {
    top: auto;
    bottom: -5px;
    margin-top: 0;
}
#infoWindow.left #infoWindowInner {
    background-position: right top;
}
#infoWindow.left.up #infoWindowInner { background-position: right bottom; }
#infoWindow.right.up #infoWindowInner { background-position: left bottom; }

#infoWindow.right {
    margin-left: -5px;
    left: 0;
    right: auto;
}
#infoWindow.right #infoWindowInner {
    background-position: left top;
}
#infoWindow #infoWindowInner {
    padding: 15px;
    background-image:url(../../images/bg_rollover.gif) !important;
	background-repeat:no-repeat;
}
#infoWindow #infoWindowInner a {
    text-decoration: none;
    color: #334458;
}
#infoWindow #infoWindowInner a:hover {
    text-decoration: underline;
}
#infoWindow #infoWindowInner ul {
    margin-bottom: 0;
}
#infoWindow #infoWindowInner li {
    margin-bottom: 8px;
}



/* -------------------------------------------------------------------------------------
 COLUMNS
 ======================================================================================*/
.colholdingscounter p {
	width:90px;
}

}

