
<!-- begin: col1 (sidebar)  -->
<div id="col1" class="sidebar">
	<div id="col1_content" class="clearfix">
		<!-- begin: sidebar -->
		<div id="sidebar">

			<!-- begin: subnavigation -->
			<h3>Ähnliche Dokumente</h3>
			<div class="subnavigation">
				<ul>
					<li>
						<a href="#" title="Anzeigen">Anzeigen</a>
					</li>
					<li>
						<a href="#" title="Aussortieren">Aussortieren</a>
					</li>
					<li>
						<a href="#" title="Im Gesamtbestand suchen">Im Gesamtbestand suchen</a>
					</li>
				</ul>
			</div><!-- end: subnavigation -->

		</div>
		<!-- end: sidebar -->
	</div>
</div>
<!-- end: col1 (sidebar) -->
<!-- begin: col3 (content) -->
<div id="col3" class="content">
	<div id="col3_content" class="clearfix">
		<!-- begin: content -->
		<div id="content">

			<!-- begin: inlay -->
			<div id="inlay">

				<!-- begin: notepad -->
				<div id="notepad">
					<form id="form_notepad" name="form_notepad" action="#">
						<h3 class="hidden"><label for="notepad_list">Merklisten</label></h3>
						<select class="select dropdown" name="notepad_list" id="notepad_list">
							<option value="l01">Amerikanische Autoren</option>
							<option value="l02">Natur</option>
							<option value="default">Default</option>
						</select>
					</form>
					<a href="merkliste.html" class="linkbutton icon_goto" title="Merkliste anzeigen"><span>Anzeigen</span></a>
				</div>
				<!-- end: notepad -->

			</div><!-- end: inlay -->

			<!-- title -->
			<h1 class="invisible">Details</h1>

			<!-- begin: tools -->
			<div class="tools floatbox">
				<a href="suchergebnis.html" title="Zurück zur swissbib Resultatsliste" class="linkbutton icon_backto"><span>swissbib Resultatsliste</span></a>
				<!-- paging -->
				<div class="paging">
					<a href="#" title="zurück" class="paging_back">zurück</a>
					<div class="paging_pages">
						<ul>
							<li>
								<span>1/89</span>
							</li>
						</ul>
					</div>
					<a href="#" title="weiter" class="paging_forward">weiter</a>
				</div>
			</div>
			<!-- end: tools -->

			<!-- begin: box -->
			<div class="box">
				<!-- col -->
				<div class="c25l">
					<a title="Zur Merkliste hinzufügen" class="icon_notepad_add_link" href="#"> <img src="resources/images/item_01_detail.jpg" class="dropshadow"/> </a>
				</div>
				<!-- col -->
				<div class="c75l">
					<h2>Marke und Wertschöpfung </h2>
					<p>
						Die Marke als Katalysator im Sales Funnel.
					</p>
					<!-- details -->
					<div class="details">
						<h4>Verfasser:</h4>
						<p>
							<a href="#">Armin Bregy</a>, <a href="#">John Ford</a>,  Norbert Gretz ; European Study Group for the Conservative Management of Chronic Renal Failure. - Scientific Meeting; European Study Group for the Conservative Management of Chronic Renal Failure - Scientific Meeting
						</p>
						<h4>Verlag:</h4>
						<p>
							Fischer
						</p>
						<h4>Jahr:</h4>
						<p>
							2008
						</p>
						<h4>Format:</h4>
						<p>
							<span class="icon_format_book">Buch</span>
						</p>
						<h4>Auflage:</h4>
						<p>
							[3.Aufl.]
						</p>
						<h4>Inhalt:</h4>
						<p>
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.
						</p>
					</div>

					<a href="frbr.html" class="linkbutton icon_show" title="Weitere Ausgaben und Formate anzeigen"><span>Weitere Ausgaben und Formate</span></a>

				</div>
			</div><!-- end: box -->

			<!-- begin: tabs -->
			<div class="tabs">
				<h3 class="hidden">Tabnavigation</h3>
				<ul>
					<li>
						<a href="#tab-library">Bibliotheken</a>
					</li>
					<li>
						<a href="#tab-review">Rezension</a>
					</li>
					<li>
						<a href="#tab-tags">Tags</a>
					</li>
				</ul>

				<!-- begin: tab library -->
				<div id="tab-library" class="tab">

					<!-- begin: innerbox meine bibliotheken -->
					<div class="innerbox grey">
						<h3 class="toggler persist collapsed" id="library_toggler_meine-bibliotheken"><span class="icon_favorit_library">Meine Bibliotheken</span></h3>
						<div class="library_toggler_meine-bibliotheken">

							<!-- begin: innerbox -->
							<div class="innerbox">
								<h4>Historisches Seminar</h4>
								<ul class="actions">
									<li>
										<a href="#" class="linkbutton primary icon_link_primary" title="Zum Bestand"><span>Zum Bestand</span></a>
									</li>
									<li>
										<a href="#" class="linkbutton icon_show toggler collapsed" title="Informationen zum Bestand" id="stock_toggler_meine-bibliotheken_historisches-seminar"><span>Informationen zum Bestand</span></a>
									</li>
								</ul>
								<ul class="miniactions boxed">
									<li class="miniaction_favorite_remove">
										<a href="#" title="Bibliothek aus Favoriten entfernen">Bibliothek aus Favoriten entfernen</a>
									</li>
									<li class="miniaction_link">
										<a href="http://aleph.unibas.ch" class="externallink" title="Historisches Seminar">http://aleph.unibas.ch</a>
									</li>
								</ul>

								<div class="stock_toggler_meine-bibliotheken_historisches-seminar">
									<table>
										<thead>
											<tr>
												<th>Standort</th>
												<th>Signatur</th>
												<th>Exemplarstatus</th>
												<th>Ausleihstatus</th>
												<th>Bechreibung</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>-</td>
												<td>Gd XIII 3836</td>
												<td>ausleihbar</td>
												<td>erhältlich</td>
												<td>Diest ist ein Beschreibungstext.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div><!-- end: innerbox -->

						</div>
					</div><!-- end: innerbox meine bibliotheken -->

					<!-- begin: innerbox basel -->
					<div class="innerbox grey">
						<h3 class="toggler persist collapsed" id="library_toggler_ids-basel">IDS Basel / Bern</h3>
						<div class="library_toggler_ids-basel">

							<!-- begin: innerbox -->
							<div class="innerbox">
								<h4>Historisches Seminar</h4>
								<ul class="actions">
									<li>
										<a href="#" class="linkbutton primary icon_link_primary" title="Zum Bestand"><span>Zum Bestand</span></a>
									</li>
									<li>
										<a href="#" class="linkbutton icon_show toggler collapsed" title="Informationen zum Bestand" id="stock_toggler_ids-basel_historisches-seminar"><span>Informationen zum Bestand</span></a>
									</li>
								</ul>
								<ul class="miniactions boxed">
									<li class="miniaction_favorite_remove">
										<a href="#" title="Bibliothek aus Favoriten entfernen">Bibliothek aus Favoriten entfernen</a>
									</li>
									<li class="miniaction_link">
										<a href="http://aleph.unibas.ch" class="externallink" title="Bibliothek Historisches Seminar">http://aleph.unibas.ch</a>
									</li>
								</ul>

								<div class="stock_toggler_ids-basel_historisches-seminar">
									<table>
										<thead>
											<tr>
												<th>Standort</th>
												<th>Signatur</th>
												<th>Exemplarstatus</th>
												<th>Ausleihstatus</th>
												<th>Bechreibung</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>-</td>
												<td>Gd XIII 3836</td>
												<td>ausleihbar</td>
												<td>erhältlich</td>
												<td>Diest ist ein Beschreibungstext.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div><!-- end: innerbox -->

							<!-- begin: innerbox -->
							<div class="innerbox">
								<h4>Altägyptisches Seminar</h4>
								<ul class="actions">
									<li>
										<a href="#" class="linkbutton primary icon_link_primary" title="Zum Bestand"><span>Zum Bestand</span></a>
									</li>
									<li>
										<a href="#" class="linkbutton icon_show toggler collapsed" title="Informationen zum Bestand" id="stock_toggler_ids-basel_aegyptisches-seminar"><span>Informationen zum Bestand</span></a>
									</li>
								</ul>
								<ul class="miniactions boxed">
									<li class="miniaction_favorite_add">
										<a href="#" title="Bibliothek zu Favoriten hinzufügen">Bibliothek zu Favoriten hinzufügen</a>
									</li>
									<li class="miniaction_link">
										<a href="http://aleph.unibas.ch" class="externallink" title="Bibliothek Altägyptisches Seminar">http://aleph.unibas.ch</a>
									</li>
								</ul>

								<div class="stock_toggler_ids-basel_aegyptisches-seminar">
									<table>
										<thead>
											<tr>
												<th>Standort</th>
												<th>Signatur</th>
												<th>Exemplarstatus</th>
												<th>Ausleihstatus</th>
												<th>Bechreibung</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>-</td>
												<td>Gd XIII 3836</td>
												<td>ausleihbar</td>
												<td>erhältlich</td>
												<td>Diest ist ein Beschreibungstext.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div><!-- end: innerbox -->

							<!-- begin: innerbox -->
							<div class="innerbox">
								<h4>Slavisches Seminar</h4>
								<ul class="actions">
									<li>
										<a href="#" class="linkbutton primary icon_link_primary" title="Zum Bestand"><span>Zum Bestand</span></a>
									</li>
									<li>
										<a href="#" class="linkbutton icon_show toggler collapsed" title="Informationen zum Bestand" id="stock_toggler_ids-basel_slavisches-seminar"><span>Informationen zum Bestand</span></a>
									</li>
								</ul>
								<ul class="miniactions boxed">
									<li class="miniaction_favorite_add">
										<a href="#" title="Bibliothek zu Favoriten hinzufügen">Bibliothek zu Favoriten hinzufügen</a>
									</li>
									<li class="miniaction_link">
										<a href="http://aleph.unibas.ch" class="externallink" title="Bibliothek Slavisches Seminar">http://aleph.unibas.ch</a>
									</li>
								</ul>

								<div class="stock_toggler_ids-basel_slavisches-seminar">
									<table>
										<thead>
											<tr>
												<th>Standort</th>
												<th>Signatur</th>
												<th>Exemplarstatus</th>
												<th>Ausleihstatus</th>
												<th>Bechreibung</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>-</td>
												<td>Gd XIII 3836</td>
												<td>ausleihbar</td>
												<td>erhältlich</td>
												<td>Diest ist ein Beschreibungstext.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div><!-- end: innerbox -->

						</div>
					</div><!-- end: innerbox basel -->

					<!-- begin: innerbox basel -->
					<div class="innerbox grey">
						<h3 class="toggler persist collapsed" id="library_toggler_ids-zurich">IDS Zürich Universität</h3>
						<div class="library_toggler_ids-zurich">

							<!-- begin: innerbox -->
							<div class="innerbox">
								<h4>Historisches Seminar</h4>
								<ul class="actions">
									<li>
										<a href="#" class="linkbutton primary icon_link_primary" title="Zum Bestand"><span>Zum Bestand</span></a>
									</li>
									<li>
										<a href="#" class="linkbutton icon_show toggler collapsed" title="Informationen zum Bestand" id="stock_toggler_ids-zurich_historisches-seminar"><span>Informationen zum Bestand</span></a>
									</li>
								</ul>
								<ul class="miniactions boxed">
									<li class="miniaction_favorite_add">
										<a href="#" title="Bibliothek zu Favoriten hinzufügen">Bibliothek zu Favoriten hinzufügen</a>
									</li>
									<li class="miniaction_link">
										<a href="http://biblio.unizh.ch" class="externallink" title="Bibliothek Historisches Seminar">http://biblio.unizh.ch</a>
									</li>
								</ul>

								<div class="stock_toggler_ids-zurich_historisches-seminar">
									<table>
										<thead>
											<tr>
												<th>Standort</th>
												<th>Signatur</th>
												<th>Exemplarstatus</th>
												<th>Ausleihstatus</th>
												<th>Bechreibung</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>-</td>
												<td>Gd XIII 3836</td>
												<td>ausleihbar</td>
												<td>erhältlich</td>
												<td>Diest ist ein Beschreibungstext.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div><!-- end: innerbox -->

							<!-- begin: innerbox -->
							<div class="innerbox">
								<h4>Altägyptisches Seminar</h4>
								<ul class="actions">
									<li>
										<a href="#" class="linkbutton primary icon_link_primary" title="Zum Bestand"><span>Zum Bestand</span></a>
									</li>
									<li>
										<a href="#" class="linkbutton icon_show toggler collapsed" title="Informationen zum Bestand" id="stock_toggler_ids-zurich_aegyptisches-seminar"><span>Informationen zum Bestand</span></a>
									</li>
								</ul>
								<ul class="miniactions boxed">
									<li class="miniaction_favorite_add">
										<a href="#" title="Bibliothek zu Favoriten hinzufügen">Bibliothek zu Favoriten hinzufügen</a>
									</li>
									<li class="miniaction_link">
										<a href="http://biblio.unizh.ch" class="externallink" title="Bibliothek Altägyptisches Seminar">http://biblio.unizh.ch</a>
									</li>
								</ul>

								<div class="stock_toggler_ids-zurich_aegyptisches-seminar">
									<table>
										<thead>
											<tr>
												<th>Standort</th>
												<th>Signatur</th>
												<th>Exemplarstatus</th>
												<th>Ausleihstatus</th>
												<th>Bechreibung</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>-</td>
												<td>Gd XIII 3836</td>
												<td>ausleihbar</td>
												<td>erhältlich</td>
												<td>Diest ist ein Beschreibungstext.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div><!-- end: innerbox -->

							<!-- begin: innerbox -->
							<div class="innerbox">
								<h4>Slavisches Seminar</h4>
								<ul class="actions">
									<li>
										<a href="#" class="linkbutton primary icon_link_primary" title="Zum Bestand"><span>Zum Bestand</span></a>
									</li>
									<li>
										<a href="#" class="linkbutton icon_show toggler collapsed" title="Informationen zum Bestand" id="stock_toggler_ids-zurich_slavisches-seminar"><span>Informationen zum Bestand</span></a>
									</li>
								</ul>
								<ul class="miniactions boxed">
									<li class="miniaction_favorite_add">
										<a href="#" title="Bibliothek zu Favoriten hinzufügen">Bibliothek zu Favoriten hinzufügen</a>
									</li>
									<li class="miniaction_link">
										<a href="http://biblio.unizh.ch" class="externallink" title="Bibliothek Slavisches Seminar">http://biblio.unizh.ch</a>
									</li>
								</ul>

								<div class="stock_toggler_ids-zurich_slavisches-seminar">
									<table>
										<thead>
											<tr>
												<th>Standort</th>
												<th>Signatur</th>
												<th>Exemplarstatus</th>
												<th>Ausleihstatus</th>
												<th>Bechreibung</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>-</td>
												<td>Gd XIII 3836</td>
												<td>ausleihbar</td>
												<td>erhältlich</td>
												<td>Diest ist ein Beschreibungstext.</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div><!-- end: innerbox -->

						</div>
					</div><!-- end: innerbox basel -->

				</div><!-- end: tab library -->

				<!-- begin: tab review -->
				<div id="tab-review" class="tab">

					<h3 class="metatitle"><a name="rezensionen">Rezensionen (3)</a><span class="rating rating_4"></span><span class="meta">Durchschnittliche Bewertung</span></h3>

					<!-- begin: items review -->
					<ul class="items">

						<!-- review -->
						<li>
							<h4><a name="review_03">Marken als Botschafter</a><span class="rating rating_5">Bewertung 5/5</span><span class="meta">Hunter S. / 01.09.2009</span></h4>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
							</p>
							<p>
								Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
							</p>
							<!-- edit -->
							<ul class="actions">
								<li>
									<a href="#" class="linkbutton" title="Ihre Rezension löschen"><span>Löschen</span></a>
								</li>
								<li>
									<a href="#" class="linkbutton" title="Ihre Rezension bearbeiten"><span>Bearbeiten</span></a>
								</li>
							</ul>
						</li>

						<!-- review -->
						<li>
							<h4><a name="review_02">Marken verkaufen kein schlechtes Produkt</a><span class="rating rating_2">Bewertung 2/5</span><span class="meta">picasso / 12.08.2009</span></h4>
							<p>
								Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
							</p>
						</li>

						<!-- review -->
						<li>
							<h4><a name="review_01">Markenstrategie als Investition in die Zukunft</a><span class="rating rating_4">Bewertung 4/5</span><span class="meta">pablo / 27.06.2009</span></h4>
							<p>
								Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
							</p>
							<p>
								Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
							</p>
						</li>

					</ul><!-- end: items review -->

					<!-- begin: editor_rezensionen -->
					<form action="#" name="form_rezension" id="form_rezension" class="form">
						<h3 class="toggler persist collapsed" id="editor_toggler_rezension">Rezension verfassen</h3>
						<div class="editor_toggler_rezension">

							<!-- begin: status -->
							<div class="status information">
								<p>
									Verfassen Sie eine Rezension zu diesem Titel und teilen Sie uns und anderen Nutzern Ihre Meinung mit. Ihr Kommentar sollte sich ausschließlich auf diesen Titel beziehen. Für weitere Informationen lesen Sie unseren <a href="#">Leitfaden</a>.
								</p>
							</div><!-- end: status -->

							<fieldset>
								<div class="fieldbox">
									<label for="rezension_rating" class="label">Bewerten sie diesen Titel</label>
									<select id="rezension_rating" name="rezension_rating" class="select">
										<option selected="selected" value="0">Bitte auswählen…</option>
										<option value="1">Schlecht</option>
										<option value="2">Mittelmäßig</option>
										<option value="3">Gut</option>
										<option value="4">Sehr gut</option>
										<option value="5">Ausgezeichnet</option>
									</select>
								</div>
								<div class="fieldbox">
									<label for="rezension_language" class="label">Sprache der Rezension</label>
									<select id="rezension_language" name="rezension_rating" class="select">
										<option selected="selected" value="">Bitte auswählen…</option>
										<option value="en">Englisch</option>
										<option value="de">Deutsch</option>
										<option value="fr">Französisch</option>
										<option value="nl">Niederländisch</option>
									</select>
								</div>
							</fieldset>
							<fieldset>
								<label for="rezension_rezension" class="label">Ihre Rezension</label>
								<textarea id="rezension_rezension" name="rezension_rezension" class="textarea large"></textarea>
							</fieldset>
							<fieldset class="actions">
								<label for="rezension_publish" class="hidden">Rezension speichern und publizieren</label>
								<input id="rezension_publish" name="rezension_publish" type="submit" class="submit primary" value="Rezension veröffentlichen"/>
								<label for="rezension_draft" class="hidden">Rezension als Entwurf speichern</label>
								<input id="rezension_draft" name="rezension_draft" type="submit" class="submit" value="Als Entwurf speichern"/>
								<label for="rezension_reset" class="hidden">Entwurf zurücksetzen</label>
								<input id="rezension_reset" name="rezension_reset" type="reset" class="reset" value="Zurücksetzen"/>
								<a class="linkbutton" id="rezension_reset" href="#">Abbrechen</a>
							</fieldset>
						</div>
					</form>
					<!-- end: editor_rezensionen -->

				</div><!-- end: tab review -->

				<!-- begin: tab tags -->
				<div id="tab-tags" class="tab">

					<h3>Meine Tags (3)</h3>
					<ul class="listing">
						<li class="first">
							<a href="#" title="Picasso">Picasso</a>
						</li>
						<li>
							<a href="#" title="Marke">Marke</a>
						</li>
						<li>
							<a href="#" title="Werte">Werte</a>
						</li>
					</ul>

					<h3>Tags (12)</h3>
					<ul class="listing">
						<li class="first">
							<a href="#" title="Picasso">Picasso</a>
						</li>
						<li>
							<a href="#" title="Marke">Marke</a>
						</li>
						<li>
							<a href="#" title="Werte">Werte</a>
						</li></li>
						<li>
							<a href="#" title="NOSE">NOSE</a>
						</li></li>
						<li>
							<a href="#" title="Design">Design</a>
						</li></li>
						<li>
							<a href="#" title="Brand">Brand</a>
						</li></li>
						<li>
							<a href="#" title="Experience">Experience</a>
						</li></li>
						<li>
							<a href="#" title="Melinda Lini">Melinda Lini</a>
						</li>
						<li>
							<a href="#" title="Photoshop Queen">Photoshop Queen</a>
						</li>
						<li>
							<a href="#" title="Stefan Tan">Stefan Tan</a>
						</li>
						<li>
							<a href="#" title="Prinz Tan">Prinz  Tan</a>
						</li>
						<li>
							<a href="#" title="Gschmois">Gschmois</a>
						</li>
					</ul>

					<!-- begin: editor_tags -->
					<form action="#" name="form_tag" id="form_tag" class="form">
						<h3 class="toggler persist collapsed" id="editor_toggler_tag">Tags hinzufügen</h3>
						<div class="editor_toggler_tag">
							<fieldset>
								<div class="fieldbox">
									<label for="tag_tags" class="label">Tags hinzufügen (kommagetrennt)</label>
									<input id="tag_tags" name="tag_tags" type="text" class="text large"/>
								</div>
							</fieldset>
							<fieldset class="actions">
								<label for="tag_save" class="hidden">Tag speichern</label>
								<input id="tag_save" name="tag_save" type="submit" class="submit primary" value="Tags speichern"/>
							</fieldset>
						</div>
					</form>
					<!-- end: editor_tags -->

				</div><!-- end: tab tags -->

			</div><!-- end: tabs -->

			<!-- begin: tools -->
			<div class="tools floatbox">
				<a href="suchergebnis.html" title="Zurück zur swissbib Resultatsliste" class="linkbutton icon_backto"><span>swissbib Resultatsliste</span></a>
			</div>
			<!-- end: tools -->

			<!-- begin: pagefunctions -->
			<div id="pagefunctions" class="offset">
				<h3 class="hidden">Seitenfunktionen</h3>
				<ul>
					<li id="pagefunction_rss">
						<a href="#" title="RSS Feed abonnieren">RSS Feed</a>
					</li>
					<li id="pagefunction_print">
						<a href="#" title="Seite drucken">Seite drucken</a>
					</li>
					<li id="pagefunction_send">
						<a href="#" title="Link per Email senden">Link per Email senden</a>
					</li>
					<li id="pagefunction_save">
						<a href="#" title="Seite speichern">Seite speichern</a>
					</li>
				</ul>
			</div><!-- end: pagefunctions -->
		</div>
		<!-- end: content -->
	</div>
	<div id="ie_clearing">
		&nbsp;
	</div>
</div>
<!-- end: col3 (content) -->

