/**
* global styles
*/
body {
    background: #FFF;
}

.clear {
    clear: both;
}

p {
    margin-bottom: 0;
}

/**
* override other stylesheets
*/
#logo h1 {
    display: none;
}

#logo h2.hidden {
    display: block;
    visibility: visible;
    position: relative;
    width: auto;
    height: auto;
    left: 0;
    line-height: normal;
    font-size: 2em;
}

.page_margins {
    width: auto;
    margin: 20px 30px 0 30px;
}

/**
* custom style for libraries
*/
.navigation {
    margin: 25px 0 20px 0;
    max-width: 600px;
}

.navigation li {
    float: left;
    font-size: 1.4em;
}

.institution {
    margin: 15px 0;
}

.all_groups {
    max-width: 600px;
}

.group h2 {
    border-bottom: 1px solid #494E59;
}