/** Ported styles from blueprint */

/* Make sure COinS information is invisible */
.Z3988 {
    display: none;
}

#hierarchyTreeHolder, #hierarchyRecordHolder {
    background-color: #FFF;
    padding: 0.5em;
}

#hierarchyTreeHolder {
    border: 1px solid #DCDCDC;
}

.collectionDetailsTree #hierarchyTreeHolder, .collectionDetailsTree #hierarchyRecordHolder {
    border-top: 0;
}

#hierarchyTree, #hierarchyRecord {
    padding: 0.5em 0.5em 0.5em 0;
    max-height:375px;
    min-height:375px;
    overflow: hidden;
    overflow-y: auto;
}

#hierarchyRecord {
    overflow: auto;
}

#hierarchyRecord th {
   width: 12em;
}

#treeSearch {
    display:none;
    float: right;
    width: 100%;
    border: 1px solid  #DCDCDC;
}

#treeSearch #treeSearchText{
    display:block;
    float:right;
    margin: 1px 0px 0px 0px;
}

#treeSearch #search {
    display:block;
    float:right;
    margin-bottom: 0px;
}

#treeSearch #treeSearchType {
    display:block;
    float:right;
    margin:2px 4px 0px 4px;
}

#treeSearch #treeSearchNoResults {
    display:none;
    float:left;
    color: #AF1B0A;
    margin:3px 0px 0px 5px;
}

#treeSearch #treeSearchLoadingImg {
    display:none;
    float:right;
    margin:3px 4px 4px 5px;
}

#treeSearchLimitReached {
    display:none;
    color: #AF1B0A;
    margin:3px 0px 0px 5px;
}

#modalDialog #hierarchyTree {
    max-height: 100%;
    min-height: 100%;
    overflow: auto;
    overflow-y: auto;
}

#hierarchyTree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tree {
    background-image:url(../images/fugue/tree.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}

.currentTree, .hierarchyTreeLinkText {
    background-image:url(../images/fugue/treeCurrent.png);
    background-repeat:no-repeat;
    background-position: left;
    padding:.5em .5em .5em 20px;
    margin-right:1em;
}

#hierarchyTree #treeList li {
    background-image:url(../images/fugue/treeItem.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#hierarchyTree #treeList li.currentRecord {
    background-image:url(../images/fugue/treeItemCurrent.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#hierarchyTree #treeList li.hierarchy {
    background-image:url(../images/fugue/collection.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#hierarchyTree #treeList li.currentHierarchy {
    background-image:url(../images/fugue/collectionCurrent.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#hierarchyTree #treeList li.currentHierarchy > a, #hierarchyTree #treeList li.currentRecord > a {
    color: #000;
    font-weight: bold;
}

#toggleTree {
    background-image:url(../images/fugue/treeCurrent.png);
    background-repeat: no-repeat;
    padding: 0.25em 0 0 23px;
    background-position: 0 0.25em;
}

#treeSelector {
    background-color: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-bottom: 0 none;
    padding: 0.25em;
}

.collectionDetailsTree #treeSelector {
    background-color: #FAFAFA;
    border: 1px solid #DCDCDC;
    border-top: 0 none;
    padding: 0.25em;
}

#treeSelector a {
    margin-right: 1em;
}


#content .tools .limitSelect {
	display: inline-block;
}

#content .tools .sortSelector {
	display: inline-block;
	margin-right: 20px;
}


#contextHelp {
	display: none;
}

.noLink {
	cursor: default;
}
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.displayBlock {
	display:block;
}