/* --- NOSE AG Design Intelligence --------------------------------------------------- */
/* --- CSS Framework: Loads all style sheets ----------------------------------------- */
/* --- swissbib  --------------------------------------------------------------------- */

/*<![CDATA[*/
@import url(yaml/core/slim_base.css);
@import url(screen/basemod.css);
@import url(screen/global.css);
@import url(screen/content.css);
@import url(patches/patch_safari.css);
@import url(patches/patch_opera.css);
@import url(screen/content.additional.css);
/* @import url(css/themes/orange/orange.css); */
/*]]>*/