#content table.data {
	width:760px;
}

#content table th,
#content table td {
	font-size: 12px;
}

#content table tr.link td {
	cursor: pointer;
}

/** ------------ Login form ------------  */

#loginForm label {
	width: 100px;
}

#loginForm input[type=text],
#loginForm input[type=password] {
	width: 200px;
	margin-bottom: 20px;
}

#loginForm input[type=submit] {
	margin-left: 250px;
}

#loginForm label.invalid {
	color: red;
	float: none;
	margin-top: -20px;
}

/** ------------ Advanced search ------------ */

#advSearchForm .group {
	border: 1px solid #CCC;
	margin-bottom: 20px;
	padding: 10px;
}

#advSearchForm  #groupJoin {
	background-color: #efefef;
	margin-bottom: 30px;
	padding: 10px;
}

#advSearchForm #groupJoin .searchGroupDetails {
	float: right;
}

#advSearchForm #searchHolder .addSearch {

}

#advSearchForm #searchHolder .addSearch a,
#advSearchForm #addGroupLink {
	font-size: 12px;
	background: url(../images/icon_add.gif) no-repeat 0 4px;
	padding: 3px;
	padding-left: 16px;
}

#advSearchForm #addGroupLink {
	display: inline-block;
	margin: -10px 0 20px -10px;
}

#advSearchForm .advRow {
	clear: both;
}

#advSearchForm .advRow > .label {
	display: none;
}

#advSearchForm .fieldbox .text.large {
	width: 470px;
}

#advSearchForm .groupSearchDetails {
	float: right;
	border: 1px solid #ccc;
	padding: 5px;
	margin: -20px -20px 15px;
	background-color: #EEE;
}

#advSearchForm .groupSearchDetails .join {
	float: right;
}

#advSearchForm .groupSearchDetails .delete {
	background: url(../images/avail_stop_16.16.png) no-repeat 0 3px;
	margin-right: 5px;;
	padding: 5px;
	padding-left: 18px;
}

/** ------------ adv. search: year/dates box, slider, etc. ------------  */

#advSearchForm input.yearbox {
	clear: none;
	width: 30px;
}

#advSearchForm .yearSliderBox {
	width: 480px;
}

#advSearchForm .dateSlider {
	margin-top: 5px;
	width: 450px;
	background-repeat: repeat-x;
}

/** ------------ adv. search: jump navi ------------  */

#advancedSearchJumpNavi {
	background-color: #E8E8E8;
	border: 1px solid #2A2D33;
	border-radius: 5px;
	padding: 5px;
}

#advancedSearchJumpNavi .advSearchQuery {
	margin-top: 5px;
}

#search.advSearch {
	height: auto;
}

/** ------------ facets ------------  */

.tabbed_summon #facet_pubdate_slider {
	display:none; /*hide publication date slider in summons, next user story: fix it */
}

#facet_publishdate,
#facet_publicationdate { display:none; }

div.facets fieldset#publishDateSlider {
	margin:5px 0 0 5px!important;
}

.publishDateForceHeight {
	clear:both;
	height:83px;
}

#facet_pubdate_slider label {
	color:#ffffff;
	font-size:11px;
}

#facet_pubdate_slider div.values {
	margin:5px;
}

#facet_pubdate_slider div.values div {
	float:left;
	padding:20px 4px 3px 0;
}

#facet_pubdate_slider input[type=text] {
	width:28px;
	font-size:11px;
}

#facet_pubdate_slider input[type=submit] {
	color:#ffffff;
	font-size:11px;
	background-color:#2D313A;
	float:right;
	margin:5px;
}

#facet_pubdate_slider div.dateSlider {
	margin:0 0 0 5px;
}

.facets label {
	cursor:pointer;
}

/** ------------ facet: checkbox ------------ */
#facet_checkbox ul li label {
	color:#fff;
	font-size:11px;
	line-height:13px;
	padding:1px 2px;
	width:122px;
}
ul.facet_toggler_checkbox li {
	line-height:normal !important; /* FF bugfix */
}

/** ------------ page function ------------ */

#pagefunction_save .menu {
	display: none;
}
#pagefunction_save:hover .menu {
	display: block;
}

#pagefunction_save .menu {
	width: 200px;
	right: 5px;
	position: absolute;
	border: 1px solid #CCC;
	z-index: 101; /* over info icon */
}

#pagefunctions #pagefunction_save .menu li {
	float: none;
}

#pagefunctions #pagefunction_save .menu li a {
	width: 95%;
	font-size: 12px;
	line-height: 16px;
	text-indent: 20px;
	text-decoration: underline;
	background-color: #e6e6e6;
}

.notFirstMatchWarning {
	margin-bottom: -10px;
	padding-top: 20px;
	font-weight: bold;
	color: #F67F00;
}

#tab-holdings .miniactions {
	/*float: right;*/
	margin-top: -15px;
	margin-bottom: 5px;
}

#tabbed .selected a span {
	cursor: default;
}

#treeSearch #treeSearchText {
	width: 70%;
	padding: 1px;
}


#hierarchyTree {
	min-height: 0;
}

/** ------------ Recommendations --------------- */
div.summondbrecommendations {
	padding:5px 10px 10px 10px;
	margin-bottom:10px;
	background-color:#d4d4d4;
}

div.summondbrecommendations h2 {
	margin-bottom:14px;
}

div.summondbrecommendations a.singleLink {
	font-weight:bold;
}

/* Status messages */
#content div.info,
#content div.error {
	display: block;
	width: 80%;
	margin-bottom: 20px;
	margin-right: 100px;
	padding: 5px;
	font-size: 12px;
	text-indent: 30px;
	line-height: 14px;
	background-position: 5px 5px;
	font-weight: bold;
	float: none;
	cursor: default;
}
#content div.error {
	background-color: red;
}
#content div.info {
	background-color: green;
	color: white;
}

/* MyList */
input.selectAllCheckboxes {
	float: left;
	margin-right: 10px;
}

form[name="editListForm"] > label,
form[name="saveRecord"] label,
form[name="newList"] label {
	float: none;
}
form[name="editListForm"] fieldset input,
form[name="newList"] fieldset input {
	float: left;
}

form[name="bulkActionForm"] span,
form[name="bulkActionForm"] label {
	font-size: 12px;
}

form[name="bulkActionForm"] .mail {
	margin-left: 20px;
}

.bulkActionButtons .mail {
	display: none; /* not implemented yet */
}



/* MyList sidebar */
#sidebar .listWithCounter ul li a {
	display: inline-block;
}
#sidebar .listWithCounter ul li .counter {
	color:#fff;
}
#sidebar .subnavigation .filters {
	background-image: none;
	border: none;
}
#sidebar .subnavigation .tagList li a,
#sidebar .subnavigation .filters li a {
	display: inline-block;
}

#popupDetails {
	padding-top: 20px;
}

#popupDetails .info {
	height: auto;
}



/* Disable favorites search in search box */
#search_favorites {
	display: none;
}
label[for="search_favorites"] {
	display: none !important;
}

/* Hide favorites list in search results */
#notepad {
	display: none;
}

.holdingsAjaxSpinner {
	display: none;
}
.holdingsAjaxSpinner .spinner {
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url(../images/ajax_spinner.png) no-repeat 0 0;
	vertical-align: middle;
}

.institutionToggler {
	margin-top: 10px;
	display: inline-block;
}

.holdingMapLink {
	display: block;
}

.holdingActions {

}

.holdingActions li {
	line-height: 1.3em;
}

.holdingActions li.eod {


}

.holdingActions li.eod a {
	display: inline-block;
	width: 80px;
	height: 20px;
	background: url(../images/eod_button.gif) no-repeat 0 0;
}

.holdingActions li.eod span {
	display: none;
}


#tab-collectionlist form[name=bulkActionForm] table.data {
	width: 740px;
}

a#tagRecord {
	padding-left: 12px;
	background: url(../images/icon_add.gif) no-repeat 0 2px;
}


/** Holding Table */
.holdingTable th.actions {
	width: 100px;
}
.holdingTable th.availability {
	width: 150px;
}
.holdingTable th.location {
	width: 120px;
}
.holdingTable th.signature {
	width: 120px;
}
.holdingTable th.signature {
	width: 30px;
}

.tabs .ui-widget-header {
	border: none
}
.tabs.ui-widget-content {
	border: none;
}

.tabs .ui-state-default,
.tabs .ui-state-active {
	border: none;
	background: none;
}

.ui-tabs .ui-tabs-nav li {
	margin: 0;
}


.qrCodeIcon {
	cursor: pointer;
}

.qrCodePopup img {
	margin-top: 50px;
}

.qrCodePopup .infotext {
	position: absolute;
	bottom: 0;
	color: #AAAAAA;
	padding: 5px;
}


#holdings-items-filter-form {

	margin-bottom: 10px;
}

#holdings-items-filter-form td {
	width: 32%;
}

#holdings-items-header label {
	font-size: 0.9em;
}
#holding-items-popup-paging {
	font-size: 0.75em;
}

#holdings-items-header td {
	border-right: none;
}

#holdings-items-popup {
	padding-bottom: 20px;
}

/** Hide availability column temporary */
.holdings-items.holdingTable th:nth-child(2),
.holdings-items.holdingTable td:nth-child(2) {
  display: none;
}



/** Loading mask */

.loadmask-msg {
	border-color:#ccc !important;
	background-color: #F89205 !important;
}
.loadmask-msg div {
	border-color: #fc9405 !important;
}



#library-toggler-favorite span {
	background: url(../images/icon_favorit_library.gif) no-repeat right 1px;
	padding-right: 20px;
}