#loginForm label {
	width: 100px;
}

#loginForm input[type=text],
#loginForm input[type=password] {
	width: 200px;
	margin-bottom: 20px;
}

#loginForm input[type=submit] {
	margin-left: 250px;
}

#loginForm label.invalid {
	color: red;
	float: none;
	margin-top: -20px;
}

#content table th,
#content table td {
	font-size: 12px;
}

#content table tr.link td {
	cursor: pointer;
}


/** Advanced search */

#advSearchForm .group {
	border: 1px solid #CCC;
	margin-bottom: 20px;
	padding: 10px;
}

#advSearchForm  #groupJoin {
	background-color: #efefef;
	margin-bottom: 30px;
	padding: 10px;
}

#advSearchForm #groupJoin .searchGroupDetails {
	float: right;
}

#advSearchForm #searchHolder .addSearch {

}

#advSearchForm #searchHolder .addSearch a,
#advSearchForm #addGroupLink {
	font-size: 12px;
	background: url(../images/icon_add.gif) no-repeat 0 4px;
	padding: 3px;
	padding-left: 16px;
}

#advSearchForm #addGroupLink {
	display: inline-block;
	margin: -10px 0 20px -10px;
}


#advSearchForm .advRow {
	clear: both;
}

#advSearchForm .advRow > .label {
	display: none;
}

#advSearchForm .fieldbox .text.large {
	width: 470px;
}

#advSearchForm .groupSearchDetails {
	float: right;
	border: 1px solid #ccc;
	padding: 5px;
	margin: -20px -20px 15px;
	background-color: #EEE;
}

#advSearchForm .groupSearchDetails .join {
	float: right;
}

#advSearchForm .groupSearchDetails .delete {
	background: url(../images/avail_stop_16.16.png) no-repeat 0 3px;
	margin-right: 5px;;
	padding: 5px;
	padding-left: 18px;
}

#advSearchForm input.yearbox {
	clear: none;
	width: 30px;
}

#advSearchForm .yearSliderBox {
	width: 480px;
}

#advSearchForm #publishDateSlider {
	margin-top: 5px;
	width: 450px;
	background-repeat: repeat-x;
}


#advancedSearchJumpNavi {
	background-color: #E8E8E8;
	border: 1px solid #2A2D33;
	border-radius: 5px;
	padding: 5px;
}

#advancedSearchJumpNavi .advSearchQuery {
	margin-top: 5px;
}

#search.advSearch {
	height: auto;
}




div.facets fieldset#publishDateSlider {
	margin:5px 0 0 5px!important;
}
.publishDateForceHeight {
	clear:both;
	height:83px;
}
#facet_pubdate_slider label {
	color:#ffffff;
	font-size:11px;
}
#facet_pubdate_slider div.values {
	margin:5px;
}
#facet_pubdate_slider div.values div {
	float:left;
	padding:20px 4px 3px 0;
}
#facet_pubdate_slider input[type=text] {
	width:35px;
	font-size:11px;
}
#facet_pubdate_slider input[type=submit] {
	color:#ffffff;
	font-size:11px;
	background-color:#2D313A;
	float:right;
	margin:5px;
}
#facet_pubdate_slider div.dateSlider {
	margin:0 0 0 5px;
}


#pagefunction_save .menu {
	display: none;
}
#pagefunction_save:hover .menu {
	display: block;
}

#pagefunction_save .menu {
	width: 200px;
	right: 5px;
	position: absolute;
	border: 1px solid #CCC;
	z-index: 101; /* over info icon */
}

#pagefunctions #pagefunction_save .menu li {
	float: none;
}

#pagefunctions #pagefunction_save .menu li a {
	width: 95%;
	font-size: 12px;
	line-height: 16px;
	text-indent: 20px;
	text-decoration: underline;
	background-color: #e6e6e6;
}

.notFirstMatchWarning {
	margin-bottom: -10px;
	padding-top: 20px;
	font-weight: bold;
	color: #F67F00;
}